ALTER  PROCEDURE [hrmv9].[SP_IA_VALIDATION_SHIFT_UPLD]
@TEMPLATE_ID NVARCHAR(MAX)
AS
BEGIN
SET NOCOUNT ON;

select h.SHIFT_NAME,SHIFT_ABR, ROW_NUMBER() over (order by ID) as ROW_NUM
into #DataWithRowNumber
from HS_HR_IA_SHIFT_INFO_UPLOAD h

SELECT i.COLUMN_NAME, i.ORDINAL_POSITION as COL_NUM
into #ColNameWithColNumber
FROM INFORMATION_SCHEMA.COLUMNS i
WHERE TABLE_NAME = 'HS_HR_IA_SHIFT_INFO_UPLOAD'
group by i.ORDINAL_POSITION, i.COLUMN_NAME

DELETE FROM HS_HR_IA_ERRORS_SHIFT;
DBCC CHECKIDENT ('[HS_HR_IA_ERRORS_SHIFT]', RESEED, 0);

--For "SHIFT_NAME" No 1
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid Shift Name with a character length of 25 or less', '', 'SHIFT_NAME','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where SHIFT_NAME IS NULL;

select * into #tempTable1 from #DataWithRowNumber where SHIFT_NAME IS NULL ORDER by (SELECT NULL) OFFSET 1 rows;

INSERT INTO HS_HR_IA_ERRORS_SHIFT (SHIFT_NAME,TEMPLATE_ID,ERROR_DETAILS,COL_NUMBER,COL_NAME,ROW_NUMBER) SELECT SHIFT_NAME,@TEMPLATE_ID,'Please specify a valid Shift Name with a character length of 25 or less', '1','SHIFT_NAME', ROW_NUM from #tempTable1;

SELECT * into #tempTable2
FROM #DataWithRowNumber
WHERE SHIFT_NAME IN (
    SELECT SHIFT_NAME
    FROM #DataWithRowNumber
    GROUP BY SHIFT_NAME
    HAVING COUNT(*) > 1
) ORDER BY (SELECT NULL) OFFSET 1 ROWS;

INSERT INTO HS_HR_IA_ERRORS_SHIFT (SHIFT_NAME,TEMPLATE_ID,ERROR_DETAILS,COL_NUMBER,COL_NAME,ROW_NUMBER) SELECT SHIFT_NAME,@TEMPLATE_ID,'Shift Name is duplicated', '1','SHIFT_NAME', ROW_NUM from #tempTable2;


--For "SHIFT_ABR" No 2
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid Shift Abbreviation with a character length of 5 or less which does not already exist', '', 'SHIFT_ABR','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where SHIFT_ABR IS NULL;

insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid Shift Abbreviation with a character length of 5 or less which does not already exist', '', 'SHIFT_ABR','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where exists(SELECT 1
    FROM HS_TA_SHIFTDEF
    WHERE HS_HR_IA_SHIFT_INFO_UPLOAD.SHIFT_ABR = HS_TA_SHIFTDEF.SFT_ABBRV) AND SHIFT_ABR IS NOT NULL;

SELECT * into #tempTable3
FROM #DataWithRowNumber
WHERE SHIFT_ABR IN (
    SELECT SHIFT_ABR
    FROM #DataWithRowNumber
    GROUP BY SHIFT_ABR
    HAVING COUNT(*) > 1
) ORDER BY (SELECT NULL) OFFSET 1 ROWS;

INSERT INTO HS_HR_IA_ERRORS_SHIFT (SHIFT_NAME,TEMPLATE_ID,ERROR_DETAILS,COL_NUMBER,COL_NAME,ROW_NUMBER) SELECT SHIFT_NAME,@TEMPLATE_ID,'Shift Abbriviation is duplicated', '2','SHIFT_ABR', ROW_NUM from #tempTable3;


--For "START_TIME" No 3
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid numeric value between 0 and 24 for Start Time', '', 'START_TIME','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where START_TIME IS NULL;

insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid numeric value between 0 and 24 for Start Time', '', 'START_TIME','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where START_TIME < 0 OR START_TIME>24;

--For "END_TIME" No 4
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid numeric value between 0 and 24 for End Time (greater than Start Time). If the end date time is the next day, Select "1" for Next day shift out time', '', 'END_TIME','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where END_TIME IS NULL;

insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid numeric value between 0 and 24 for End Time (greater than Start Time). If the end date time is the next day, Select "1" for Next day shift out time', '', 'END_TIME','' from HS_HR_IA_SHIFT_INFO_UPLOAD
WHERE END_TIME<START_TIME AND (NEXT_DAY_SHIFT_OUT_TIME IS NULL OR NEXT_DAY_SHIFT_OUT_TIME=0);

insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid numeric value between 0 and 24 for End Time (greater than Start Time). If the end date time is the next day, Select "1" for Next day shift out time', '', 'END_TIME','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where END_TIME < 0 OR END_TIME>24;

--For "FIRST_HALF_DUR" No 5
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid numeric value between 0 and 24 for First Half Duration', '', 'FIRST_HALF_DUR','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where FIRST_HALF_DUR IS NULL;

insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid numeric value between 0 and 24 for First Half Duration', '', 'FIRST_HALF_DUR','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where FIRST_HALF_DUR < 0 OR FIRST_HALF_DUR>24;

--For "SECOND_HALF_DUR" No 7
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid numeric value between 0 and 24 for Second Half Duration', '', 'SECOND_HALF_DUR','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where SECOND_HALF_DUR IS NULL;

insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid numeric value between 0 and 24 for Second Half Duration', '', 'SECOND_HALF_DUR','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where SECOND_HALF_DUR < 0 OR SECOND_HALF_DUR>24;

--For "FLEXI_SHIFT"
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please select either 0 or 1 for Flexi Shift', '', 'FLEXI_SHIFT','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where FLEXI_SHIFT NOT IN (0,1);

--For "OFF_SHIFT"
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please select either 0 or 1 for Off Shift', '', 'OFF_SHIFT','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where OFF_SHIFT NOT IN (0,1);

--For "CONTINUE_SHIFT"
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please select either 0 or 1 for Continue Shift', '', 'CONTINUE_SHIFT','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where CONTINUE_SHIFT NOT IN (0,1);

--For "LATE_COVER"
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please select either 0 or 1 for Late Covering', '', 'LATE_COVER','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where LATE_COVER NOT IN (0,1);

--For "BRK_ALLOW_LATE_HRS_CALC"
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please select either 0 or 1 for Break Allow to Late Hours Calculation', '', 'BRK_ALLOW_LATE_HRS_CALC','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where BRK_ALLOW_LATE_HRS_CALC NOT IN (0,1);

--For "ALLOW_DEDCT_OUT_HRS"
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please select either 0 or 1 for Allow Deduct Out Hours from OT Hours', '', 'ALLOW_DEDCT_OUT_HRS','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where ALLOW_DEDCT_OUT_HRS NOT IN (0,1);

--For "AUTO_MID_NIGHT_FIX"
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please select either 0 or 1 for Automatic Midnight Crossover Fix', '', 'AUTO_MID_NIGHT_FIX','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where AUTO_MID_NIGHT_FIX NOT IN (0,1);

--For "NEXT_DAY_SHIFT_OUT_TIME"
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please select either 0 or 1 for Next Day Shift Out Time', '', 'NEXT_DAY_SHIFT_OUT_TIME','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where NEXT_DAY_SHIFT_OUT_TIME NOT IN (0,1);

--For "LEAVE_DAYS"
insert into HS_HR_IA_ERRORS_SHIFT
select SHIFT_NAME, @TEMPLATE_ID, 'Please specify a valid numeric value between 0 and 365 for Leave Days', '', 'LEAVE_DAYS','' from HS_HR_IA_SHIFT_INFO_UPLOAD
where LEAVE_DAYS < 0 OR LEAVE_DAYS>365;

update E set E.COL_NUMBER = c.COL_NUM, E.ROW_NUMBER = d.ROW_NUM
from HS_HR_IA_ERRORS_SHIFT E
inner join #DataWithRowNumber d on d.SHIFT_NAME = E.SHIFT_NAME OR (E.SHIFT_NAME IS NULL AND d.SHIFT_NAME IS NULL)
inner join #ColNameWithColNumber c on c.COLUMN_NAME = E.COL_NAME

drop table #ColNameWithColNumber;
drop table #DataWithRowNumber;
drop table #tempTable1;
drop table #tempTable2;
drop table #tempTable3;
END
