ALTER   Procedure [hrmv9].[SP_IA_VALIDATION_RH_UPLD]
@TEMPLATE_ID NVARCHAR(MAX)
AS
BEGIN
SET NOCOUNT ON;

select h.EMP_NUMBER, ROW_NUMBER() over (order by ID) as ROW_NUM
into #DataWithRowNumber
from HS_HR_IA_RH_UPLOAD h

SELECT i.COLUMN_NAME, i.ORDINAL_POSITION as COL_NUM
into #ColNameWithColNumber
FROM INFORMATION_SCHEMA.COLUMNS i
WHERE TABLE_NAME = 'HS_HR_IA_RH_UPLOAD'
group by i.ORDINAL_POSITION, i.COLUMN_NAME

DELETE FROM hrmv9.HS_HR_IA_ERRORS;
DBCC CHECKIDENT ('[HS_HR_IA_ERRORS]', RESEED, 0);

--For Employee No
insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Employee Number Does Not Exist In the System', '', 'EMP_NUMBER','' from HS_HR_IA_RH_UPLOAD
where not exists(SELECT 1
    FROM HS_HR_EMPLOYEE
    WHERE HS_HR_IA_RH_UPLOAD.EMP_NUMBER = HS_HR_EMPLOYEE.EMP_DISPLAY_NUMBER);

insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Please enter a valid Employee No with a maximum length of 8 characters', '', 'EMP_NUMBER','' from HS_HR_IA_RH_UPLOAD
where EMP_NUMBER IS NULL;

insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Please enter a valid Employee No with a maximum length of 8 characters', '', 'EMP_NUMBER','' from HS_HR_IA_RH_UPLOAD
where len(EMP_NUMBER) > 8;

select * into #tempTable1 from #DataWithRowNumber where EMP_NUMBER IS NULL ORDER by (SELECT NULL) OFFSET 1 rows;

INSERT INTO HS_HR_IA_ERRORS (EMP_NUMBER,TEMPLATE_ID,ERROR_DETAILS,COL_NUMBER,COL_NAME,ROW_NUMBER) SELECT EMP_NUMBER,@TEMPLATE_ID,'Employee Number Can Not Be Null', '1','EMP_NUMBER', ROW_NUM from #tempTable1;

SELECT * into #tempTable2
FROM #DataWithRowNumber
WHERE EMP_NUMBER IN (
    SELECT EMP_NUMBER
    FROM #DataWithRowNumber
    GROUP BY EMP_NUMBER
    HAVING COUNT(*) > 1
) ORDER BY (SELECT NULL) OFFSET 1 ROWS;

INSERT INTO HS_HR_IA_ERRORS (EMP_NUMBER,TEMPLATE_ID,ERROR_DETAILS,COL_NUMBER,COL_NAME,ROW_NUMBER) SELECT EMP_NUMBER,@TEMPLATE_ID,'Employee Number is duplicated', '1','EMP_NUMBER', ROW_NUM from #tempTable2;



--For DIRECT SUPERVISOR NUMBER
insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Direct Supervisor Employee Number Does Not Exist In the System', '', 'DIRECT_SUPERVISOR_NUMBER','' from HS_HR_IA_RH_UPLOAD
where not exists(SELECT 1
    FROM HS_HR_EMPLOYEE
    WHERE HS_HR_IA_RH_UPLOAD.DIRECT_SUPERVISOR_NUMBER = HS_HR_EMPLOYEE.EMP_DISPLAY_NUMBER) AND DIRECT_SUPERVISOR_NUMBER IS NOT NULL;

insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Employee Number and Direct Supervisor Number can not be same', '', 'DIRECT_SUPERVISOR_NUMBER','' from HS_HR_IA_RH_UPLOAD
where DIRECT_SUPERVISOR_NUMBER=EMP_NUMBER;

insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Please enter a valid Direct Supervisor Employee Number with a maximum length of 8 characters', '', 'DIRECT_SUPERVISOR_NUMBER','' from HS_HR_IA_RH_UPLOAD
where DIRECT_SUPERVISOR_NUMBER IS NULL;

insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Please enter a valid Direct Supervisor Employee Number with a maximum length of 8 characters', '', 'DIRECT_SUPERVISOR_NUMBER','' from HS_HR_IA_RH_UPLOAD
where len(DIRECT_SUPERVISOR_NUMBER) > 8;


--For COMPANY
insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Please enter a valid Company name with a maximum length of 70 characters', '', 'COMPANY','' from HS_HR_IA_RH_UPLOAD
where COMPANY IS NULL;

insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Please enter a valid Company name with a maximum length of 70 characters', '', 'COMPANY','' from HS_HR_IA_RH_UPLOAD
where len(COMPANY) > 70;

--For INDIRECT_SUPERVISOR_NUMBER
insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Indirect Supervisor Number Does Not Exist In the System', '', 'INDIRECT_SUPERVISOR_NUMBER','' from HS_HR_IA_RH_UPLOAD
where not exists(SELECT 1
    FROM HS_HR_EMPLOYEE
    WHERE HS_HR_IA_RH_UPLOAD.INDIRECT_SUPERVISOR_NUMBER = HS_HR_EMPLOYEE.EMP_DISPLAY_NUMBER) AND INDIRECT_SUPERVISOR_NUMBER IS NOT NULL;

insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Please enter a valid Indirect Supervisor Number with a maximum length of 8 characters', '', 'INDIRECT_SUPERVISOR_NUMBER','' from HS_HR_IA_RH_UPLOAD
where INDIRECT_SUPERVISOR_NUMBER IS NULL;

insert into hrmv9.HS_HR_IA_ERRORS
select EMP_NUMBER, @TEMPLATE_ID, 'Please enter a valid Indirect Supervisor Number with a maximum length of 8 characters', '', 'INDIRECT_SUPERVISOR_NUMBER','' from HS_HR_IA_RH_UPLOAD
where len(INDIRECT_SUPERVISOR_NUMBER) > 8;

update E set E.COL_NUMBER = c.COL_NUM, E.ROW_NUMBER = d.ROW_NUM
from HS_HR_IA_ERRORS E
inner join #DataWithRowNumber d on d.EMP_NUMBER = E.EMP_NUMBER OR (E.EMP_NUMBER IS NULL AND d.EMP_NUMBER IS NULL)
inner join #ColNameWithColNumber c on c.COLUMN_NAME = E.COL_NAME

drop table #ColNameWithColNumber;
drop table #DataWithRowNumber;
drop table #tempTable1;
drop table #tempTable2;

END
GO