ALTER  PROCEDURE [hrmv9].[SP_IA_UPDT_STAT_WIZ_UPLD_NUM]
@ID INT,
@COLUMN_NO INT,
@DATA NUMERIC (18,2)
AS
BEGIN

DECLARE @COLUMN_NAME NVARCHAR(200);
DECLARE @QUERY NVARCHAR(MAX);

SELECT @COLUMN_NAME = column_name
FROM (
  SELECT DISTINCT column_name,ordinal_position
  FROM information_schema.columns
  WHERE table_name = 'HS_HR_IA_STATUTRY_LEAVE_UPLOAD'
) AS subquery
WHERE ordinal_position = @COLUMN_NO;

IF @DATA IS NULL
BEGIN
SET @QUERY='UPDATE [HS_HR_IA_STATUTRY_LEAVE_UPLOAD] SET ['+@COLUMN_NAME+'] =NULL WHERE [ID]='+CAST(@ID as nvarchar)+';'
END

ELSE
BEGIN
SET @QUERY='UPDATE [HS_HR_IA_STATUTRY_LEAVE_UPLOAD] SET ['+@COLUMN_NAME+'] = '+CAST(@DATA as nvarchar)+' WHERE [ID]='+CAST(@ID as nvarchar)+';'
END

EXEC(@QUERY)

END
GO