ALTER  PROCEDURE [hrmv9].[SP_IA_CHK_LES_THN_MN_VAL_SHRT]
@DATA NUMERIC (18,2),
@COLUMN_NO INT,
@ROW_ID INT
AS
BEGIN

DECLARE @COLUMN_NAME NVARCHAR(200);
DECLARE @QUERY NVARCHAR(MAX);

SELECT @COLUMN_NAME = column_name
FROM (
  SELECT DISTINCT column_name,ordinal_position
  FROM information_schema.columns
  WHERE table_name = 'HS_HR_IA_SHORT_LEAVE_UPLOAD'
) AS subquery
WHERE ordinal_position = @COLUMN_NO+1;

SET @QUERY='SELECT 1
FROM HS_HR_IA_SHORT_LEAVE_UPLOAD
WHERE Id = '+CAST(@ROW_ID AS NVARCHAR)+' AND (['+@COLUMN_NAME+']) >= '+CAST(@DATA AS NVARCHAR);

EXEC(@QUERY)
END
GO