ALTER   PROCEDURE [SP_IA_INSRT_ND_GET_ID_STAT_LEA]
@COLUMN_NO INT,
@DATA NVARCHAR(MAX)
AS
BEGIN
-- Declare other variables
DECLARE @COLUMN_NAME NVARCHAR(200);
DECLARE @QUERY NVARCHAR(MAX);

SELECT @COLUMN_NAME = column_name
FROM (
  SELECT DISTINCT column_name,ordinal_position
  FROM information_schema.columns
  WHERE table_name = 'HS_HR_IA_STATUTRY_LEAVE_UPLOAD'
) AS subquery
WHERE ordinal_position = @COLUMN_NO;

IF NOT EXISTS (SELECT 1 FROM HS_HR_IA_STATUTRY_LEAVE_UPLOAD)
BEGIN
    -- Reset the identity column to a starting value (e.g., 1)
    DBCC CHECKIDENT ('HS_HR_IA_STATUTRY_LEAVE_UPLOAD', RESEED, 1);
END


SET @QUERY = 'DECLARE @OutputTable TABLE (ID INT);

INSERT INTO [HS_HR_IA_STATUTRY_LEAVE_UPLOAD] ([' + @COLUMN_NAME + '])
OUTPUT INSERTED.ID INTO @OutputTable
VALUES (''' + @DATA + ''');

DECLARE @InsertedID INT;
SELECT @InsertedID = ID FROM @OutputTable;
SELECT @InsertedID;
'
EXEC(@QUERY)
END
GO