CREATE OR ALTER PROCEDURE [QADBV9_L2].[SP_IA_GET_SUBSECTION_DATA]
AS
BEGIN

select [SUBSECTION_ID],
		[SUBSECTION_NAME],
      x.[MODULE_ID],
	  [APPROVAL_STATUS],
	  [VENDOR_APPROVAL_STATUS] from (
SELECT a.[SUBSECTION_ID],
		a.[SUBSECTION_NAME],
      a.[MODULE_ID],
	  a.[IS_ENABLE],
	  a.[VIEW_ORDER],
	  b.[APPROVAL_STATUS],
	  c.[VENDOR_APPROVAL_STATUS],
	  b.[APPROVAL_DATE],
	  ROW_NUMBER() over (partition by a.[SUBSECTION_ID] order by a.[SUBSECTION_ID], b.[APPROVAL_DATE] desc) data_num
  FROM [HS_HR_IA_SUBSECTIONS] a 
  LEFT JOIN [HS_HR_IA_DASHBOARD_INFO] b ON a.SUBSECTION_ID=b.SUBSECTION_ID 
  LEFT JOIN HS_HR_IA_VENDOR_APPROVAL_INFO c ON b.RECORD_ID=c.USER_RECORD_ID
  ) x LEFT JOIN HS_HR_IA_MODULES y ON x.MODULE_ID=y.MODULE_ID
  where x.data_num = 1 and y.IS_ENABLE=1 and x.IS_ENABLE=1 ORDER BY y.VIEW_ORDER, x.VIEW_ORDER
END
GO