CREATE OR ALTER PROCEDURE [SP_SHORT_LEAVE_UPLOAD]

AS 

BEGIN

DECLARE @SHORTLEAVETYPECODE AS VARCHAR(100)

DECLARE @LEAVETYPENAME AS VARCHAR(100)

DECLARE @MINHOURSALLOWED AS INT

DECLARE @MAXHOURSALLOWED AS INT

DECLARE @MAXOCCURRENCE AS INT

DECLARE @MAXCONSECUTIVEHOURSALLOWED AS INT

DECLARE @MAXNOOFLEAVEPERDAY AS INT

DECLARE @LEAVETIMEPERIOD AS INT

DECLARE @MAXOURSPERMONTH AS INT

DECLARE @MAXHOURSPERYEAR AS INT

DECLARE @LEAVENEEDAPPROVAL AS INT

DECLARE @TBT_ISCONSEC AS INT

DECLARE @TBT_ISCONSEC_ALL AS INT

DECLARE @TBT_ISPREDEFINEDTIMES AS INT

DECLARE @TBT_PREDEFINED_ONE AS INT

DECLARE @TBT_PREDEFINED_TWO AS INT
 


DECLARE @CursorAttribute CURSOR SET @CursorAttribute = CURSOR FAST_FORWARD

FOR

SELECT TBT_CODE,LEAVE_TYPE_NAME,MIN_HOURS_ALLOWED,MAX_HOURS_ALLOWED,MAX_OCCURRENCE,MAX_CONSECUTIVE_HOURS_ALLOWED,MAX_NO_OF_LEAVE_PER_DAY,LEAVE_TIME_PERIOD,ISNULL(MAX_HOURS_PER_MONTH, 0) ,ISNULL(MAX_HOURS_PER_YEAR,0),LEAVE_NEED_APPROVAL,TBT_ISCONSEC,TBT_ISCONSEC_ALL,TBT_ISPREDEFINEDTIMES,TBT_PREDEFINED_ONE,TBT_PREDEFINED_TWO

FROM HS_HR_IA_SHORT_LEAVE_UPLOAD

OPEN @CursorAttribute

FETCH NEXT

FROM @CursorAttribute

INTO @SHORTLEAVETYPECODE

	,@LEAVETYPENAME

	,@MINHOURSALLOWED

	,@MAXHOURSALLOWED

	,@MAXOCCURRENCE 

	,@MAXCONSECUTIVEHOURSALLOWED 

	,@MAXNOOFLEAVEPERDAY 

	,@LEAVETIMEPERIOD 

	,@MAXOURSPERMONTH 

	,@MAXHOURSPERYEAR 

	,@LEAVENEEDAPPROVAL

	,@TBT_ISCONSEC

	,@TBT_ISCONSEC_ALL

	,@TBT_ISPREDEFINEDTIMES 

	,@TBT_PREDEFINED_ONE

	,@TBT_PREDEFINED_TWO


WHILE @@FETCH_STATUS = 0

BEGIN

BEGIN TRY  

If Not Exists(select * from HS_HR_LTIMEBASE_TYPE where TBT_CODE = @SHORTLEAVETYPECODE)

Begin

INSERT INTO HS_HR_LTIMEBASE_TYPE 

	(

	TBT_CODE,

	TBT_NAME,

	TBT_MINHOURS,

	TBT_MAXHOURS,

	TBT_MAXOCCURRENCE,

	TBT_MAXCONSECHOURS,

	TBT_MAXOCCURPERDAY,

	TBT_ISPERIOD,

	TBT_MONTHWISEHOURS,

	TBT_YEARLYHOURS,

	TBT_ISAPPNEED,

	TBT_ISCONSEC,

	TBT_ISCONSEC_ALL,

	TBT_ISPREDEFINEDTIMES ,

	TBT_PREDEFINED_ONE,

	TBT_PREDEFINED_TWO,

	TBT_ISMONTHWISE,

	TBT_ISYEARLY,

	TBT_ISMONTHWISEHOURS,

	TBT_ISYEARLYHOURS

	)

VALUES

	(

	@SHORTLEAVETYPECODE, 

	@LEAVETYPENAME,

	@MINHOURSALLOWED,

	@MAXHOURSALLOWED,

	@MAXOCCURRENCE,

	@MAXCONSECUTIVEHOURSALLOWED,

	@MAXNOOFLEAVEPERDAY,

	@LEAVETIMEPERIOD,

	@MAXOURSPERMONTH,

	@MAXHOURSPERYEAR,

	@LEAVENEEDAPPROVAL,

	@TBT_ISCONSEC,

	@TBT_ISCONSEC_ALL,

	@TBT_ISPREDEFINEDTIMES ,

	@TBT_PREDEFINED_ONE,

	@TBT_PREDEFINED_TWO,

	(CASE WHEN @MAXOURSPERMONTH > 0 THEN 1 ELSE 0 END),

	(CASE WHEN @MAXHOURSPERYEAR > 0 THEN 1 ELSE 0 END),

	(CASE WHEN @MAXOURSPERMONTH > 0 THEN 1 ELSE 0 END),

	(CASE WHEN @MAXHOURSPERYEAR > 0 THEN 1 ELSE 0 END)

	)

END

    select 'True' as status , 'Successfully added' as message

END TRY  

BEGIN CATCH  

INSERT INTO [HS_HR_IA_ERROR_LOGS]

			   ([ERROR_LINE]

			   ,[ERROR_MESSAGE]

			   ,[ERROR_NUMBER]

			   ,[ERROR_PROCEDURE]

			   ,[ERROR_SEVERITY]

			   ,[ERROR_STATE]

			   ,[ERROR_DATE])

	SELECT  

	ERROR_LINE () as ErrorLine,  

	Error_Message() as ErrorMessage,  

	Error_Number() as ErrorNumber,  

	Error_Procedure() as 'Proc',  

	Error_Severity() as ErrorSeverity,  

	Error_State() as ErrorState,  

	GETDATE () as DateErrorRaised

    select 'False' as status , ERROR_MESSAGE() as message

END CATCH  

FETCH NEXT

	FROM @CursorAttribute

	INTO  @SHORTLEAVETYPECODE

	,@LEAVETYPENAME

	,@MINHOURSALLOWED

	,@MAXHOURSALLOWED

	,@MAXOCCURRENCE 

	,@MAXCONSECUTIVEHOURSALLOWED 

	,@MAXNOOFLEAVEPERDAY 

	,@LEAVETIMEPERIOD 

	,@MAXOURSPERMONTH 

	,@MAXHOURSPERYEAR 

	,@LEAVENEEDAPPROVAL

	,@TBT_ISCONSEC

	,@TBT_ISCONSEC_ALL

	,@TBT_ISPREDEFINEDTIMES 

	,@TBT_PREDEFINED_ONE

	,@TBT_PREDEFINED_TWO

END

CLOSE @CursorAttribute

DEALLOCATE @CursorAttribute

MERGE INTO [HS_HR_LTIMEBASE_PERIOD] AS Target

USING [HS_HR_LTIMEBASE_PERIOD_UPLOAD] AS Source

ON (Target.TBP_CODE = Source.TBP_CODE AND Target.TBT_CODE = Source.TBT_CODE)

WHEN MATCHED THEN

    UPDATE SET

        Target.TBP_PERIOD = Source.TBP_PERIOD

WHEN NOT MATCHED BY TARGET THEN

    INSERT (TBP_CODE, TBT_CODE, TBP_PERIOD)

    VALUES (Source.TBP_CODE, Source.TBT_CODE, Source.TBP_PERIOD);

END