CREATE OR ALTER PROCEDURE [SP_STATUTORY_LEAVE_UPLOAD]
AS 
BEGIN

DECLARE @LEAVETYPECODE AS VARCHAR(250)
DECLARE @LEAVETYPEDESCRIPTION AS VARCHAR(250)
DECLARE @ACTIVE AS INT
DECLARE @ALLOWHALFDAYS AS INT 
DECLARE @AUTOCALCULATEENDDATE AS INT
DECLARE @HOLIDAY_AS_LEAVE AS int
DECLARE @LIEU_LEAVE INT
DECLARE @MATERNITY_LEAVE INT
DECLARE @NO_PAY_LEAVE INT
DECLARE @QUARTER_LEAVE INT
DECLARE @SHOW_BALANCE INT
DECLARE @EARNED_CF_BREAK_DOWN INT
DECLARE @EXTENDED_PERIOD INT
DECLARE @ALLOW_PLANNING INT
DECLARE @ATTACHMENT_REQUIRED INT
DECLARE @VIEW_ADDITIONAL_FIELD INT
DECLARE @ALLOW_NEGATIVE INT
DECLARE @KIOSK_ALLOWED INT
DECLARE @HIDE_ZERO_ENTITLEMENT INT
DECLARE @ALLOW_SELECT_APPROVER INT
DECLARE @SHOW_LEAVE_REASON INT
DECLARE @CONSIDER_IN_DASHBOARD INT
DECLARE @SHOW_IN_OFFBOARDING INT
DECLARE @CONSIDER_FOR_TIME_LOST INT
DECLARE @COMMENT_MANDATORY INT
DECLARE @LONG_LEAVE INT
DECLARE @HIDE_IN_SELF_APP INT
DECLARE @APPLY_SEQUENCE_IN_DASH INT
DECLARE @YEARLY_ENTITLEMENT INT
DECLARE @MINIMUM_DAYS_IN_SNGLE_LEA_APP INT
DECLARE @MAXIMUM_DAYS_IN_SNGLE_LEA_APP INT
DECLARE @REQ_MEDICAL_CERTIFICATE INT
DECLARE @APPLY_TGTHER_WITH_LEA_TYPE VARCHAR(250)
DECLARE @FUTURE_LEAVE_UTILIZED_AS VARCHAR(250)
DECLARE @UTILIZATION_PERIOD INT
DECLARE @FUTURE_LEAVE_TYPE smallint
DECLARE @NOTICE_PERIOD INT
DECLARE @TIME_BASE_LEAVE INT
DECLARE @LEAVE_APPROVAL VARCHAR(250)
DECLARE @LEAVE_REJECTION VARCHAR(250)
DECLARE @LEAVE_CANCELLATION VARCHAR(250)
DECLARE @ENTITLEMENT_CRITERIA VARCHAR(250)
DECLARE @COMMENTS varchar(250) 

DECLARE @LEV_TYPE_CFWD_YEARLY INT
DECLARE	@LEV_TYPE_CFWD_LIMIT INT
DECLARE	@LEV_TYPE_CFWD INT
DECLARE @LEV_HAS_NOTICE_PERIOD INT
DECLARE @LEV_TYPE_MAX_DAYS INT

DECLARE @CursorAttribute CURSOR SET @CursorAttribute = CURSOR FAST_FORWARD
FOR
SELECT [LEAVE_TYPE]
      ,[LEAVE_DESCRIPTION]
      ,[ACTIVE]
      ,[ALLOW_HALF_DAYS]
      ,[AUTO_CAL_END_DATE]

      ,[HOLIDAY_AS_LEAVE]
      ,[LIEU_LEAVE]
      ,[MATERNITY_LEAVE]
      ,[NO_PAY_LEAVE]
      ,[QUARTER_LEAVE]

      ,[SHOW_BALANCE]
      ,[EARNED_CF_BREAK_DOWN]
      ,[EXTENDED_PERIOD]
      ,[ALLOW_PLANNING]
      ,[ATTACHMENT_REQUIRED]

      ,[VIEW_ADDITIONAL_FIELD]
      ,[ALLOW_NEGATIVE]
      ,[KIOSK_ALLOWED]
      ,[HIDE_ZERO_ENTITLEMENT]
      ,[ALLOW_SELECT_APPROVER]

      ,[SHOW_LEAVE_REASON]
      ,[CONSIDER_IN_DASHBOARD]
      ,[SHOW_IN_OFFBOARDING]
      ,[CONSIDER_FOR_TIME_LOST]
      ,[COMMENT_MANDATORY]

      ,[LONG_LEAVE]
      ,[HIDE_IN_SELF_APP]
      ,[APPLY_SEQUENCE_IN_DASH]
      ,[YEARLY_ENTITLEMENT]

      ,[MINIMUM_DAYS_IN_SNGLE_LEA_APP]
      ,[MAXIMUM_DAYS_IN_SNGLE_LEA_APP]
      ,[REQ_MEDICAL_CERTIFICATE]
      ,[APPLY_TGTHER_WITH_LEA_TYPE]
      ,[FUTURE_LEAVE_UTILIZED_AS]

      ,[UTILIZATION_PERIOD]
      ,[FUTURE_LEAVE_TYPE]
      ,[NOTICE_PERIOD]

      ,[TIME_BASE_LEAVE]
      ,[LEAVE_APPROVAL]
      ,[LEAVE_REJECTION]
      ,[LEAVE_CANCELLATION]
      ,[ENTITLEMENT_CRITERIA]

      ,[COMMENTS]
	  ,[LEV_TYPE_CFWD_YEARLY]
	  ,[LEV_TYPE_CFWD_LIMIT]
	  ,[LEV_TYPE_CFWD]
	  ,[LEV_HAS_NOTICE_PERIOD]
	  ,[LEV_TYPE_MAX_DAYS]

FROM HS_HR_IA_STATUTRY_LEAVE_UPLOAD


OPEN @CursorAttribute
FETCH NEXT
FROM @CursorAttribute
INTO  @LEAVETYPECODE 
	 ,@LEAVETYPEDESCRIPTION 
	 ,@ACTIVE 
	 ,@ALLOWHALFDAYS 
	 ,@AUTOCALCULATEENDDATE 
	 
	 ,@HOLIDAY_AS_LEAVE 
	 ,@LIEU_LEAVE 
	 ,@MATERNITY_LEAVE 
	 ,@NO_PAY_LEAVE 
	 ,@QUARTER_LEAVE 
	 
	 ,@SHOW_BALANCE 
	 ,@EARNED_CF_BREAK_DOWN 
	 ,@EXTENDED_PERIOD 
	 ,@ALLOW_PLANNING 
	 ,@ATTACHMENT_REQUIRED 
	 
	 ,@VIEW_ADDITIONAL_FIELD 
	 ,@ALLOW_NEGATIVE 
	 ,@KIOSK_ALLOWED 
	 ,@HIDE_ZERO_ENTITLEMENT 
	 ,@ALLOW_SELECT_APPROVER 
	 
	 ,@SHOW_LEAVE_REASON 
	 ,@CONSIDER_IN_DASHBOARD 
	 ,@SHOW_IN_OFFBOARDING 
	 ,@CONSIDER_FOR_TIME_LOST 
	 ,@COMMENT_MANDATORY 
	 
	 ,@LONG_LEAVE 
	 ,@HIDE_IN_SELF_APP 
	 ,@APPLY_SEQUENCE_IN_DASH 
	 ,@YEARLY_ENTITLEMENT 
     
	 ,@MINIMUM_DAYS_IN_SNGLE_LEA_APP 
     ,@MAXIMUM_DAYS_IN_SNGLE_LEA_APP 
     ,@REQ_MEDICAL_CERTIFICATE 
     ,@APPLY_TGTHER_WITH_LEA_TYPE 
     ,@FUTURE_LEAVE_UTILIZED_AS
     
	 ,@UTILIZATION_PERIOD
     ,@FUTURE_LEAVE_TYPE   
	 ,@NOTICE_PERIOD
	 
     ,@TIME_BASE_LEAVE 
     ,@LEAVE_APPROVAL 
     ,@LEAVE_REJECTION
     ,@LEAVE_CANCELLATION     
	 ,@ENTITLEMENT_CRITERIA
	 
     ,@COMMENTS 
	 ,@LEV_TYPE_CFWD_YEARLY
	 ,@LEV_TYPE_CFWD_LIMIT
	 ,@LEV_TYPE_CFWD
	 ,@LEV_HAS_NOTICE_PERIOD
	 ,@LEV_TYPE_MAX_DAYS
	 	
WHILE @@FETCH_STATUS = 0
BEGIN
BEGIN TRY  
If Not Exists(select * from hs_hr_leave_type where LEV_TYPE_CODE = @LEAVETYPECODE)
Begin
INSERT INTO hs_hr_leave_type 
	(
	   [LEV_TYPE_CODE]
      ,[LEV_TYPE_NAME]
      ,[LEV_TYPE_DESC]
	  ,[LEV_TYPE_ACTIVE]
	  ,[LEV_TYPE_HALFDAY]

	  ,[LEV_TYPE_AUTO_CALCULATE]
	  ,[LEV_TYPE_HOLIDAY]
	  ,[LEV_TYPE_MATERNITY]
	  ,[LEV_TYPE_WITHPAY]
	  ,[LEV_TYPE_QLEAVE_ALLOW]

	  ,[LEV_TYPE_ISSHOWBAL]
	  ,[LEV_TYPE_ISEARNED]
	  ,[LEV_EXT_PERIOD]
	  ,[LEV_TYPE_ISPLANNABLE]
	  ,[LEV_TYPE_ISATTACH_REQ]

	  ,[LEV_SHOW_OTHER_FIELD]
	  ,[LEV_ALLOW_NEGATIVE]
	  ,[LEV_ALLOW_KIOSK]
	  ,[LEV_HIDE_ZERO_ENTITLMENT]
	  ,[LEV_ALLOW_SELECT_APPROVER]

	  ,[LEV_SHOW_LEAVE_REASON]
	  ,[LEV_CONSIDER_FOR_DASHBOARD]
	  ,[LEV_SHOW_IN_OFFBOARDING]
	  ,[LEV_CONSIDER_FOR_TIME_LOST]
	  ,[LEV_TYPE_COMMENT_MANDATORY]

	  ,[LEV_TYP_IS_LNG_LEAVE]
	  ,[IS_DISPLAY_SELF_APPLICATION]
	  ,[LEV_SEQ_APPLY_FROM_DASHBOARD]
	  ,[LEV_TYPE_YEARLY_ENT]
      ,[LEV_TYPE_COM_MINDAYS]

	  ,[LEV_TYPE_COM_MAXDAYS]
	  ,[LEV_TYPE_ISMEDICALREQ]
	  ,[LEV_TYPE_FUTURE_LEV]
	  ,[LEV_TYPE_FUTURE_PERIOD]
	  ,[LEV_TYPE_FUTURE]

	  --,[LEV_TYPE_FUTURE_LEV]
	  ,[LEV_NOTICE_PERIOD]
	  ,[LEV_TYPE_IS_TIME_BASE]
	  ,[LEV_TYPE_ISAPPROVNEED]
	  ,[LEV_TYPE_CFWD_YEARLY]
	  ,[LEV_TYPE_CFWD_LIMIT] 
	  ,[LEV_TYPE_CFWD] 
	  ,[LEV_HAS_NOTICE_PERIOD]
	  ,[LEV_TYPE_MAX_DAYS]
	)

VALUES
	(
	  @LEAVETYPECODE 
	 ,@LEAVETYPECODE 
	 ,@LEAVETYPEDESCRIPTION 
	 ,@ACTIVE 
	 ,@ALLOWHALFDAYS 

	 ,@AUTOCALCULATEENDDATE 
	 ,@HOLIDAY_AS_LEAVE 
	 --,@LIEU_LEAVE 
	 ,@MATERNITY_LEAVE 
	 ,@NO_PAY_LEAVE 
	 ,@QUARTER_LEAVE 
	 
	 ,@SHOW_BALANCE 
	 ,@EARNED_CF_BREAK_DOWN 
	 ,@EXTENDED_PERIOD 
	 ,@ALLOW_PLANNING 
	 ,@ATTACHMENT_REQUIRED 
	 
	 ,@VIEW_ADDITIONAL_FIELD 
	 ,@ALLOW_NEGATIVE 
	 ,@KIOSK_ALLOWED 
	 ,@HIDE_ZERO_ENTITLEMENT 
	 ,@ALLOW_SELECT_APPROVER 
	 
	 ,@SHOW_LEAVE_REASON 
	 ,@CONSIDER_IN_DASHBOARD 
	 ,@SHOW_IN_OFFBOARDING 
	 ,@CONSIDER_FOR_TIME_LOST 
	 ,@COMMENT_MANDATORY 
	 
	 ,@LONG_LEAVE 
	 ,@HIDE_IN_SELF_APP 
	 ,@APPLY_SEQUENCE_IN_DASH 
	 --,@MAXIMUM_LEA_DAYS_IN_SINGL_INS 
	 ,@YEARLY_ENTITLEMENT 
     ,@MINIMUM_DAYS_IN_SNGLE_LEA_APP 
     
	 ,@MAXIMUM_DAYS_IN_SNGLE_LEA_APP 
     ,@REQ_MEDICAL_CERTIFICATE 
     --,@APPLY_TGTHER_WITH_LEA_TYPE 
     ,@FUTURE_LEAVE_UTILIZED_AS
     ,@UTILIZATION_PERIOD
     ,@FUTURE_LEAVE_TYPE 
     
	-- ,@MAX_ALLOWED_FORWARD 
     --,@MAX_LIMIT 
     ,@NOTICE_PERIOD 
     ,@TIME_BASE_LEAVE 
     ,@LEAVE_APPROVAL 
     --,@LEAVE_REJECTION
     --,@LEAVE_CANCELLATION
     --,@ENTITLEMENT_CRITERIA 
     --,@COMMENTS 
	 ,@LEV_TYPE_CFWD_YEARLY
	 ,@LEV_TYPE_CFWD_LIMIT
	 ,@LEV_TYPE_CFWD
	 ,@LEV_HAS_NOTICE_PERIOD
	 ,@LEV_TYPE_MAX_DAYS
	)
END
    select 'True' as status , 'Successfully added' as message
END TRY  
BEGIN CATCH  

INSERT INTO [HS_HR_IA_ERROR_LOGS]
			   ([ERROR_LINE]
			   ,[ERROR_MESSAGE]
			   ,[ERROR_NUMBER]
			   ,[ERROR_PROCEDURE]
			   ,[ERROR_SEVERITY]
			   ,[ERROR_STATE]
			   ,[ERROR_DATE])
	SELECT  
	ERROR_LINE () as ErrorLine,  
	Error_Message() as ErrorMessage,  
	Error_Number() as ErrorNumber,  
	Error_Procedure() as 'Proc',  
	Error_Severity() as ErrorSeverity,  
	Error_State() as ErrorState,  
	GETDATE () as DateErrorRaised 

    select 'False' as status , ERROR_MESSAGE() as message
END CATCH  

FETCH NEXT
	FROM @CursorAttribute
	INTO @LEAVETYPECODE 
	 ,@LEAVETYPEDESCRIPTION 
	 ,@ACTIVE 
	 ,@ALLOWHALFDAYS 
	 ,@AUTOCALCULATEENDDATE 
	 ,@HOLIDAY_AS_LEAVE 
	 ,@LIEU_LEAVE 
	 ,@MATERNITY_LEAVE 
	 ,@NO_PAY_LEAVE 
	 ,@QUARTER_LEAVE 
	 ,@SHOW_BALANCE 
	 ,@EARNED_CF_BREAK_DOWN 
	 ,@EXTENDED_PERIOD 
	 ,@ALLOW_PLANNING 
	 ,@ATTACHMENT_REQUIRED 
	 ,@VIEW_ADDITIONAL_FIELD 
	 ,@ALLOW_NEGATIVE 
	 ,@KIOSK_ALLOWED 
	 ,@HIDE_ZERO_ENTITLEMENT 
	 ,@ALLOW_SELECT_APPROVER 
	 ,@SHOW_LEAVE_REASON 
	 ,@CONSIDER_IN_DASHBOARD 
	 ,@SHOW_IN_OFFBOARDING 
	 ,@CONSIDER_FOR_TIME_LOST 
	 ,@COMMENT_MANDATORY 
	 ,@LONG_LEAVE 
	 ,@HIDE_IN_SELF_APP 
	 ,@APPLY_SEQUENCE_IN_DASH 
	 ,@YEARLY_ENTITLEMENT 
     ,@MINIMUM_DAYS_IN_SNGLE_LEA_APP 
     ,@MAXIMUM_DAYS_IN_SNGLE_LEA_APP 
     ,@REQ_MEDICAL_CERTIFICATE 
     ,@APPLY_TGTHER_WITH_LEA_TYPE 
     ,@FUTURE_LEAVE_UTILIZED_AS
     ,@UTILIZATION_PERIOD
     ,@FUTURE_LEAVE_TYPE 
     ,@NOTICE_PERIOD 
     ,@TIME_BASE_LEAVE 
     ,@LEAVE_APPROVAL 
     ,@LEAVE_REJECTION
     ,@LEAVE_CANCELLATION
     ,@ENTITLEMENT_CRITERIA 
     ,@COMMENTS 
	 ,@LEV_TYPE_CFWD_YEARLY
	 ,@LEV_TYPE_CFWD_LIMIT
	 ,@LEV_TYPE_CFWD
	 ,@LEV_HAS_NOTICE_PERIOD
	 ,@LEV_TYPE_MAX_DAYS
END
CLOSE @CursorAttribute

DEALLOCATE @CursorAttribute

END