ALTER   PROCEDURE [QADBV9_L2].[SP_IA_GET_TABLE_DATA]
    @TABLE_NAME VARCHAR(200)
AS
BEGIN
        SET NOCOUNT ON;
	    IF @TABLE_NAME = 'HS_HR_IA_EMPLOYEE_UPLOAD'
    BEGIN
       SELECT 
	   [EMP_NUMBER]
      ,[EMP_TITLE]
      ,[EMP_CALLING_NAME]
      ,[EMP_SURNAME]
      ,[EMP_MIDDLE_INI]
      ,[EMP_NAMES_BY_INI]
      ,[EMP_FULLNAME]
      ,[EMP_NIC_NO]
      ,CONVERT(nvarchar,[EMP_BIRTHDAY],103)
      ,[EMP_GENDER]
      ,[EMP_MAIDEN_NAME]
      ,[EMP_OTHER_NAMES]
      ,[EMP_EPF_NUMBER]
      ,CONVERT(nvarchar,[EMP_NIC_DATE],103)
      ,[EMP_BIRTHPLACE]
      ,[NATIONALITY]
      ,[RELIGION]
      ,[EMP_BLOOD_GROUP]
      ,[EMP_MARITAL_STATUS]
      ,CONVERT(nvarchar,[EMP_MARRIED_DATE],103)
      ,CONVERT(nvarchar,[EMP_DIVOCE_DATE],103)
      ,[SAL_GRD]
      ,[CORPORATE_TITLE]
      ,[DESIGNATION]
      ,[COST_CENTRE]
      ,CONVERT(nvarchar,[EMP_DATE_JOINED],103)
      ,CONVERT(nvarchar,[EMP_DATE_JOINED_TO_GROUP],103)
      ,[EMP_TYPE]
      ,[STAFFCAT_CLASS]
      ,[EMP_BARCODENO]
      ,[EMP_PAYROLLNO]
      ,[EMP_ACTIVE_HRM_FLG]
      ,[EMP_ACTIVE_PAYROLL_FLG]
      ,[EMP_ACTIVE_ATT_FLG]
      ,[EMP_CONFIRM_FLG]
      ,CONVERT(nvarchar,[EMP_CONFIRM_DATE],103)
      ,CONVERT(nvarchar,[EMP_DATE_FOR_CONFIRM],103)
      ,CONVERT(nvarchar,[EMP_RESIGN_DATE],103)
      ,CONVERT(nvarchar,[EMP_RETIRE_DATE],103)
      ,[EMP_WORKHOURS]
      ,[LOCATION]
      ,[SUB_LOCATION]
      ,CONVERT(nvarchar,[EMP_CONTRACT_START_DATE],103)
      ,CONVERT(nvarchar,[EMP_CONTRACT_END_DATE],103)
      ,CONVERT(nvarchar,[EMP_CONT_TO_PERM_DATE],103)
      ,[EMP_CATEGORY]
      ,[RECR_COMPANY]
      ,[EMP_GROUP]
      ,[HIE_LEVEL_1]
      ,[HIE_LEVEL_2]
      ,[HIE_LEVEL_3]
	  ,[HIE_LEVEL_4]
      ,[HIE_LEVEL_5]
      ,[HIE_LEVEL_6]
	  ,[HIE_LEVEL_7]
      ,[HIE_LEVEL_8]
      ,[HIE_LEVEL_9]
      ,[EMP_TAXONTAX_FLG]
      ,[EMP_TAX_ID_NUMBER]
      ,[EMP_EPF_ELIGIBLE_FLG]
      ,[EMP_EPF_EMPLOYEE_AMOUNT]
      ,[EMP_EPF_EMPLOYER_AMOUNT]
      ,[EMP_ETF_ELIGIBLE_FLG]
      ,[EMP_ETF_NUMBER]
      ,[EMP_ETF_EMPLOYEE_AMOUNT]
      ,CONVERT(nvarchar,[EMP_ETF_DATE],103)
      ,[EMP_MSPS_ELIGIBLE_FLG]
      ,[EMP_MSPS_EMPLOYER_AMOUNT]
      ,[EMP_MSPS_EMPLOYEE_AMOUNT]
      ,[EMP_PER_ADDRESS1]
      ,[EMP_PER_ADDRESS2]
      ,[EMP_PER_ADDRESS3]
      ,[EMP_PER_CITY]
      ,[EMP_PER_TELEPHONE]
      ,[EMP_PER_MOBILE]
      ,[EMP_PER_FAX]
      ,[EMP_PER_EMAIL]
      ,[EMP_PER_COUNTRY]
      ,[EMP_PER_PROVINCE]
      ,[EMP_PER_DISTRICT]
      ,[EMP_PER_ELECTORATE_CODE]
      ,[EMP_TEM_ADDRESS1]
      ,[EMP_TEM_ADDRESS2]
      ,[EMP_TEM_ADDRESS3]
      ,[EMP_TEM_CITY]
      ,[EMP_TEM_POSTALCODE]
      ,[EMP_TEM_TELEPHONE]
      ,[EMP_TEM_MOBILE]
      ,[EMP_TEM_FAX]
      ,[EMP_TEM_EMAIL]
      ,[EMP_TEM_COUNTRY]
      ,[EMP_TEM_PROVINCE]
      ,[EMP_TEM_DISTRICT]
      ,[EMP_TEM_ELECTORATE]
	  ,[EMP_OFFICE_EMAIL]
      ,[EMP_OFFICE_EXTN]
	  ,[EMP_OFFICE_PHONE]
	FROM [QADBV9_L2].[HS_HR_IA_EMPLOYEE_UPLOAD]
	ORDER BY [ID];
    END

    ELSE IF @TABLE_NAME = 'HS_HR_IA_BANK_UPLOAD'
    BEGIN
        SELECT [EMP_NUMBER]
      ,[BANK_CODE]
      ,[BANK_NAME]
      ,[BRANCH_CODE]
      ,[BRANCH_NAME]
      ,[EBANK_ACC_NO]
      ,[ACCTYPE_ID]
      ,[CURRENCY_SYMBOL]
		FROM [QADBV9_L2].[HS_HR_IA_BANK_UPLOAD]
			ORDER BY [ID];
    END

    ELSE IF @TABLE_NAME = 'HS_HR_IA_RH_UPLOAD'
    BEGIN
        SELECT [EMP_NUMBER]
      ,[DIRECT_SUPERVISOR_NUMBER]
      ,[COMPANY]
      ,[INDIRECT_SUPERVISOR_NUMBER]
		FROM [QADBV9_L2].[HS_HR_IA_RH_UPLOAD]
			ORDER BY [ID];
    END

    ELSE IF @TABLE_NAME = 'HS_HR_IA_DEPINFO_UPLOAD'
    BEGIN
        SELECT [EMP_NUMBER]
      ,[EREL_RELATIONFULLNAME]
      ,[EREL_RELATIONSHIP]
      ,[EREL_GENDER]
      ,CONVERT(nvarchar,[EREL_BIRTHDAY] ,103)
      ,[EREL_TELEPHONE]
      ,[EREL_ENTMEDICALBENIFIT_FLG]
      ,[EREL_WORK_SAME_COMP_FLG]
      ,[EREL_EDU_CENTRE]
      ,[EREL_HOUSE_ADDRESS]
      ,[EREL_OFFICE_ADDRESS]
      ,[EREL_PF_RATIO]
      ,[EREL_PF_NOMINEE_FLG]
      ,[EREL_ENTDEATHDONATION_FLG]
      ,[EREL_LIVINGORNOT_FLG]
      ,[EREL_NIC_NUMBER]
      ,[EREL_SPOUSE_TELEPHONE]
      ,[EREL_COMMENTS]
      ,[EREL_IS_MARRIED]
      ,[EREL_IS_WORKING]
      ,[EREL_EMP_NUMBER]
		FROM [QADBV9_L2].[HS_HR_IA_DEPINFO_UPLOAD]
			ORDER BY [ID];
    END

	ELSE IF @TABLE_NAME = 'HS_HR_IA_EC_UPLOAD'
    BEGIN
       SELECT [EMP_NUMBER]
      ,[EC_CONT_PER_FULLNAME]
      ,[EC_RELATIONSHIP]
      ,[EC_RELATIONSHIP_ORDER]
      ,[EC_PER_ADDRESS]
      ,[EC_OFFICE_TELEPHONE]
      ,[EC_RES_TELEPHONE]
      ,[EC_MOBILE]
      ,[EC_CONTACT_TYPE_FLG]
      ,[EC_OFFICIAL_ADDRESS]
      ,[EC_EMP_NUMBER]
      ,[EC_TEL_EXT]
	FROM [QADBV9_L2].[HS_HR_IA_EC_UPLOAD]
		ORDER BY [ID];
    END
	
	ELSE IF @TABLE_NAME = 'HS_HR_IA_SHORT_LEAVE_UPLOAD'
    BEGIN
       SELECT 
	   [TBT_CODE]
      ,[LEAVE_TYPE_NAME]
      ,[MIN_HOURS_ALLOWED]
      ,[MAX_HOURS_ALLOWED]
      ,[MAX_OCCURRENCE]
      ,[MAX_CONSECUTIVE_HOURS_ALLOWED]
      ,[TBT_ISCONSEC_ALL]
      ,[MAX_NO_OF_LEAVE_PER_DAY]
      ,[LEAVE_TIME_PERIOD]
      ,[DURATION_BEGIN_SHIFT]
      ,[DURATION_END_SHIFT]
      ,[MAX_HOURS_PER_MONTH]
      ,[MAX_HOURS_PER_YEAR]
      ,[APPLICABLE_FOR_WEEKLY]
      ,[COMMENTS]
	FROM [QADBV9_L2].[HS_HR_IA_SHORT_LEAVE_UPLOAD]
		ORDER BY [ID];
    END

	ELSE IF @TABLE_NAME = 'HS_HR_IA_STATUTRY_LEAVE_UPLOAD'
    BEGIN
	SELECT  [LEAVE_TYPE]
      ,[LEAVE_DESCRIPTION]
      ,[ACTIVE]
      ,[COVERING_EMP_REQ]
      ,[ALLOW_HALF_DAYS]
      ,[AUTO_CAL_END_DATE]
      ,[HOLIDAY_AS_LEAVE]
      ,[LIEU_LEAVE]
      ,[MATERNITY_LEAVE]
      ,[NO_PAY_LEAVE]
      ,[QUARTER_LEAVE]
      ,[SHOW_BALANCE]
      ,[EARNED_CF_BREAK_DOWN]
      ,[EXTENDED_PERIOD]
      ,[ALLOW_PLANNING]
      ,[ATTACHMENT_REQUIRED]
      ,[VIEW_ADDITIONAL_FIELD]
      ,[ALLOW_NEGATIVE]
      ,[KIOSK_ALLOWED]
      ,[HIDE_ZERO_ENTITLEMENT]
      ,[ALLOW_SELECT_APPROVER]
      ,[SHOW_LEAVE_REASON]
      ,[CONSIDER_IN_DASHBOARD]
      ,[SHOW_IN_OFFBOARDING]
      ,[CONSIDER_FOR_TIME_LOST]
      ,[COMMENT_MANDATORY]
      ,[LONG_LEAVE]
      ,[HIDE_IN_SELF_APP]
      ,[APPLY_SEQUENCE_IN_DASH]
      ,[LEV_TYPE_MAX_DAYS]
      ,[YEARLY_ENTITLEMENT]
      ,[MINIMUM_DAYS_IN_SNGLE_LEA_APP]
      ,[MAXIMUM_DAYS_IN_SNGLE_LEA_APP]
      ,[REQ_MEDICAL_CERTIFICATE]
      ,[APPLY_TGTHER_WITH_LEA_TYPE]
      ,[FUTURE_LEAVE_UTILIZED_AS]
      ,[UTILIZATION_PERIOD]
      ,[FUTURE_LEAVE_TYPE_NAME]
      ,[LEV_TYPE_CFWD_YEARLY]
      ,[LEV_TYPE_CFWD_LIMIT]
      ,[NOTICE_PERIOD]
      ,[ENTITLEMENT_CRITERIA]
      ,[COMMENTS]
		FROM [QADBV9_L2].[HS_HR_IA_STATUTRY_LEAVE_UPLOAD]
			ORDER BY [ID];
      END

	ELSE IF @TABLE_NAME = 'HS_HR_IA_SHIFT_INFO_UPLOAD'
	BEGIN
	SELECT  [SHIFT_NAME]
           ,[SHIFT_ABR]
           ,[START_TIME]
           ,[END_TIME]
           ,[FIRST_HALF_DUR]
           ,[SECOND_HALF_DUR]
           ,[FLEXI_SHIFT]
           ,[OFF_SHIFT]
           ,[CONTINUE_SHIFT]
           ,[LATE_COVER]
           ,[BRK_ALLOW_LATE_HRS_CALC]
           ,[ALLOW_DEDCT_OUT_HRS]
           ,[AUTO_MID_NIGHT_FIX]
           ,[NEXT_DAY_SHIFT_OUT_TIME]
           ,[LEAVE_DAYS]
		FROM [QADBV9_L2].[HS_HR_IA_SHIFT_INFO_UPLOAD]
			ORDER BY [ID];
      END

	  ELSE IF @TABLE_NAME = 'HS_HR_IA_ROSTER_INFO_UPLOAD'
    BEGIN
	SELECT [ROSTER_CODE]
      ,[ROSTER_NAME]
      ,[ROS_IS_ACTIVE]
      ,[ROSTER_COMMENT]
      ,[ROS_GRP_NAME]
      ,[ROS_GRP_DESC]
      ,[ROS_HIE]
      ,[ROS_COMP_CALENDER]
      ,[ROS_WRKFLW_TYPE]
      ,[DYN_ROS_SUPERVISOR]
      ,[ROS_GRP_CMNTS]
		FROM [QADBV9_L2].[HS_HR_IA_ROSTER_INFO_UPLOAD]
			ORDER BY [ID];
      END
END
