ALTER   PROCEDURE [QADBV9_L2].[SP_IA_GET_STAT_LEA_RESPONSE]
@ID INT
AS
BEGIN

DECLARE @QUERY NVARCHAR(MAX);

SET @QUERY = 'SELECT [LEAVE_TYPE]
      ,[LEAVE_DESCRIPTION]
      ,[ACTIVE]
      ,[COVERING_EMP_REQ]
      ,[ALLOW_HALF_DAYS]
      ,[AUTO_CAL_END_DATE]
      ,[HOLIDAY_AS_LEAVE]
      ,[LIEU_LEAVE]
      ,[MATERNITY_LEAVE]
      ,[NO_PAY_LEAVE]
      ,[QUARTER_LEAVE]
      ,[SHOW_BALANCE]
      ,[EARNED_CF_BREAK_DOWN]
      ,[EXTENDED_PERIOD]
      ,[ALLOW_PLANNING]
      ,[ATTACHMENT_REQUIRED]
      ,[VIEW_ADDITIONAL_FIELD]
      ,[ALLOW_NEGATIVE]
      ,[KIOSK_ALLOWED]
      ,[HIDE_ZERO_ENTITLEMENT]
      ,[ALLOW_SELECT_APPROVER]
      ,[SHOW_LEAVE_REASON]
      ,[CONSIDER_IN_DASHBOARD]
      ,[SHOW_IN_OFFBOARDING]
      ,[CONSIDER_FOR_TIME_LOST]
      ,[COMMENT_MANDATORY]
      ,[LONG_LEAVE]
      ,[HIDE_IN_SELF_APP]
      ,[APPLY_SEQUENCE_IN_DASH]
      ,[LEV_TYPE_MAX_DAYS]
      ,[YEARLY_ENTITLEMENT]
      ,[MINIMUM_DAYS_IN_SNGLE_LEA_APP]
      ,[MAXIMUM_DAYS_IN_SNGLE_LEA_APP]
      ,[REQ_MEDICAL_CERTIFICATE]
      ,[APPLY_TGTHER_WITH_LEA_TYPE]
      ,[FUTURE_LEAVE_UTILIZED_AS]
      ,[UTILIZATION_PERIOD]
      ,[FUTURE_LEAVE_TYPE_NAME]
      ,[LEV_TYPE_CFWD_YEARLY]
      ,[LEV_TYPE_CFWD_LIMIT]
      ,[NOTICE_PERIOD]
      ,[ENTITLEMENT_CRITERIA]
      ,[COMMENTS] FROM HS_HR_IA_STATUTRY_LEAVE_UPLOAD WHERE [ID] = ' + CAST(@ID as NVARCHAR) + ';'

	  PRINT(@QUERY);
EXEC(@QUERY)

END
