ALTER   PROCEDURE [QADBV9_L2].[SP_IA_GET_SHRT_LEA_RESPONSE]
@ID INT
AS
BEGIN

DECLARE @QUERY NVARCHAR(MAX);

SET @QUERY = 'SELECT 
		[TBT_CODE]
      ,[LEAVE_TYPE_NAME]
      ,[MIN_HOURS_ALLOWED]
      ,[MAX_HOURS_ALLOWED]
      ,[MAX_OCCURRENCE]
      ,[MAX_CONSECUTIVE_HOURS_ALLOWED]
      ,[TBT_ISCONSEC_ALL]
      ,[MAX_NO_OF_LEAVE_PER_DAY]
      ,[LEAVE_TIME_PERIOD]
      ,[DURATION_BEGIN_SHIFT]
      ,[DURATION_END_SHIFT]
      ,[MAX_HOURS_PER_MONTH]
      ,[MAX_HOURS_PER_YEAR]
      ,[APPLICABLE_FOR_WEEKLY]
      ,[COMMENTS] FROM HS_HR_IA_SHORT_LEAVE_UPLOAD WHERE [ID] = ' + CAST(@ID as NVARCHAR) + ';'

EXEC(@QUERY)

END
GO