USE [QADBV9_L2]
GO
/****** Object:  StoredProcedure [QADBV9_L2].[SP_IA_UPDT_STAT_WIZ_UPLD_NUM]    Script Date: 11/11/2023 11:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [QADBV9_L2].[SP_IA_UPDT_STAT_WIZ_UPLD_NUM]
@ID INT,
@COLUMN_NO INT,
@DATA NUMERIC
AS
BEGIN

DECLARE @COLUMN_NAME NVARCHAR(200);
DECLARE @QUERY NVARCHAR(MAX);

SELECT @COLUMN_NAME = column_name
FROM (
  SELECT DISTINCT column_name,ordinal_position
  FROM information_schema.columns
  WHERE table_name = 'HS_HR_IA_STATUTRY_LEAVE_UPLOAD'
) AS subquery
WHERE ordinal_position = @COLUMN_NO;

IF @DATA IS NULL
BEGIN
SET @QUERY='UPDATE [QADBV9_L2].[HS_HR_IA_STATUTRY_LEAVE_UPLOAD] SET ['+@COLUMN_NAME+'] =NULL WHERE [ID]='+CAST(@ID as nvarchar)+';'
END

ELSE
BEGIN
SET @QUERY='UPDATE [QADBV9_L2].[HS_HR_IA_STATUTRY_LEAVE_UPLOAD] SET ['+@COLUMN_NAME+'] = '+CAST(@DATA as nvarchar)+' WHERE [ID]='+CAST(@ID as nvarchar)+';'
END

EXEC(@QUERY)

END
