CREATE OR ALTER PROCEDURE [QADBV9_L2].[SP_IA_UPDAT_MODULE_ORDER]
@MODULE_ARRAY HS_HR_IA_DBTYPE_MODULE_ORDER READONLY
AS
BEGIN
    UPDATE HS_HR_IA_MODULES
    SET VIEW_ORDER = T.VIEW_ORDER, IS_ENABLE=1
    FROM HS_HR_IA_MODULES
    INNER JOIN @MODULE_ARRAY AS T ON HS_HR_IA_MODULES.MODULE_ID = T.MODULE_ID;
END;