ALTER PROCEDURE [QADBV9_L2].[SP_AI_DEPINFO_UPLOAD]
AS 
BEGIN
Declare @LASTCODE as VARCHAR(6)  
Declare @LASTCODESEQ as VARCHAR(8)  
BEGIN TRY  

-- insert Gender
set @LASTCODE=0     
select @LASTCODE= isnull(MAX(GEN_CODE),'-1') FROM HS_HR_GENDER
INSERT INTO HS_HR_GENDER (GEN_CODE, GEN_NAME, GEN_DESC,DBGROUP_ID)
SELECT  right('0'+rtrim(ltrim(floor(row_number() over (ORDER by EREL_GENDER) )+ @LASTCODE)),1) AS GEN_CODE, EREL_GENDER, EREL_GENDER,null
FROM HS_HR_IA_DEPINFO_UPLOAD
WHERE EREL_GENDER IS NOT NULL AND  ltrim(rtrim(EREL_GENDER))<>'' AND               
upper(EREL_GENDER) NOT IN (SELECT upper(GEN_NAME) FROM HS_HR_GENDER)
GROUP BY EREL_GENDER

-- insert relationship details
set @LASTCODE=0     
select @LASTCODE= isnull(abs(max(REL_ID)),0) from HS_HR_RELATIONSHIP 
INSERT INTO HS_HR_RELATIONSHIP (REL_ID, REL_CODE, REL_NAME,REL_GENDER_VALIDATE_FLG,REL_WORKADDR_ENABLE_FLG,REL_HOMEADDR_ENABLE_FLG,REL_SCHOOLADDR_ENABLE_FLG)
SELECT right('000000'+rtrim(ltrim(floor(row_number() over (ORDER by EREL_RELATIONSHIP) )+ @LASTCODE)),6) AS REL_ID, EREL_RELATIONSHIP, EREL_RELATIONSHIP,0,0,0,0
FROM HS_HR_IA_DEPINFO_UPLOAD
WHERE EREL_RELATIONSHIP IS NOT NULL AND  ltrim(rtrim(EREL_RELATIONSHIP))<>'' AND               
upper(EREL_RELATIONSHIP) NOT IN (SELECT upper(REL_NAME) FROM HS_HR_RELATIONSHIP)
GROUP BY EREL_RELATIONSHIP


-- INSERT main table data
INSERT INTO [HS_HR_EMP_RELATIONINFO]
           ([EMP_NUMBER]
           ,[EREL_RELATIONFULLNAME]
           ,[EREL_DEPENDNO]
           ,[EREL_RELATIONSHIP]
           ,[EREL_SEX_FLG]
           ,[EREL_BIRTHDAY]
           ,[EREL_TELEPHONE]
           ,[EREL_ENTMEDICALBENIFIT_FLG]
           ,[EREL_WORK_SAME_COMP_FLG]
           ,[EREL_EDU_CENTRE]
           ,[EREL_HOUSE_ADDRESS]
           ,[EREL_OFFICE_ADDRESS]
           ,[EREL_PF_RATIO]
           ,[EREL_PF_NOMINEE_FLG]
           ,[EREL_ENTDEATHDONATION_FLG]
           ,[EREL_LIVINGORNOT_FLG]
           ,[EREL_NIC_NUMBER]
           ,[EREL_SPOUSE_TELEPHONE]
           ,[EREL_COMMENTS]
           ,[EREL_IS_MARRIED]
           ,[EREL_IS_WORKING]
		   ,[EREL_EMP_NUMBER])
select E.EMP_NUMBER, EC.EREL_RELATIONFULLNAME,ROW_NUMBER() OVER(PARTITION BY E.EMP_NUMBER ORDER BY E.EMP_NUMBER) AS EEMERG_SEQNO,
R.REL_CODE,G.GEN_CODE,EREL_BIRTHDAY,EREL_TELEPHONE,ISNULL(EREL_ENTMEDICALBENIFIT_FLG,0),ISNULL(EREL_WORK_SAME_COMP_FLG,0),EREL_EDU_CENTRE,EREL_HOUSE_ADDRESS,
EREL_OFFICE_ADDRESS,ISNULL(EREL_PF_RATIO,0),ISNULL(EREL_PF_NOMINEE_FLG,0),ISNULL(EREL_ENTDEATHDONATION_FLG,0),ISNULL(EREL_LIVINGORNOT_FLG,0),EREL_NIC_NUMBER,
EREL_SPOUSE_TELEPHONE,EREL_COMMENTS,ISNULL(EREL_IS_MARRIED,0),ISNULL(EREL_IS_WORKING,0),EE.EMP_NUMBER
from HS_HR_IA_DEPINFO_UPLOAD EC
LEFT JOIN HS_HR_EMPLOYEE E ON E.EMP_DISPLAY_NUMBER=EC.EMP_NUMBER
LEFT JOIN HS_HR_RELATIONSHIP R ON R.REL_CODE=EC.EREL_RELATIONSHIP
LEFT JOIN HS_HR_GENDER G ON G.GEN_NAME=EC.EREL_GENDER
LEFT JOIN HS_HR_EMPLOYEE EE ON EE.EMP_DISPLAY_NUMBER=EC.EREL_EMP_NUMBER

     select 'True' as status , 'Successfully added' as message
END TRY  
BEGIN CATCH  

INSERT INTO [HS_HR_IA_ERROR_LOGS]
			   ([ERROR_LINE]
			   ,[ERROR_MESSAGE]
			   ,[ERROR_NUMBER]
			   ,[ERROR_PROCEDURE]
			   ,[ERROR_SEVERITY]
			   ,[ERROR_STATE]
			   ,[ERROR_DATE])
	SELECT  
	ERROR_LINE () as ErrorLine,  
	Error_Message() as ErrorMessage,  
	Error_Number() as ErrorNumber,  
	Error_Procedure() as 'Proc',  
	Error_Severity() as ErrorSeverity,  
	Error_State() as ErrorState,  
	GETDATE () as DateErrorRaised 

	SELECT  
		'False' as status  
       ,ERROR_MESSAGE() AS message;  
END CATCH  

END
GO
