USE [QADBV9_L2]
GO
/****** Object:  StoredProcedure [QADBV9_L2].[SP_AI_UPLOAD_REPORTTO]    Script Date: 10/26/2023 10:37:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [QADBV9_L2].[SP_AI_UPLOAD_REPORTTO]
AS 
BEGIN

BEGIN TRY  

-- insert direct supervisor
INSERT INTO [HS_HR_EMP_REPORTTO]
           ([EREP_SUB_EMP_NUMBER]
           ,[EREP_REPORTING_MODE]
           ,[EREP_REPORTING_SEQUENCE]
           ,[EREP_SUP_EMP_NUMBER])
SELECT E.EMP_NUMBER,1,NULL,EE.EMP_NUMBER FROM  HS_HR_IA_RH_UPLOAD R
LEFT JOIN HS_HR_EMPLOYEE E ON E.EMP_DISPLAY_NUMBER=R.EMP_NUMBER
LEFT JOIN HS_HR_EMPLOYEE EE ON EE.EMP_DISPLAY_NUMBER=R.DIRECT_SUPERVISOR_NUMBER

-- insert indirect supervisor
INSERT INTO [HS_HR_EMP_REPORTTO]
           ([EREP_SUB_EMP_NUMBER]
           ,[EREP_REPORTING_MODE]
           ,[EREP_REPORTING_SEQUENCE]
           ,[EREP_SUP_EMP_NUMBER])
SELECT E.EMP_NUMBER,2,NULL,EE.EMP_NUMBER FROM  HS_HR_IA_RH_UPLOAD R
LEFT JOIN HS_HR_EMPLOYEE E ON E.EMP_DISPLAY_NUMBER=R.EMP_NUMBER
LEFT JOIN HS_HR_EMPLOYEE EE ON EE.EMP_DISPLAY_NUMBER=R.INDIRECT_SUPERVISOR_NUMBER

     select 'True' as status , 'Successfully added' as message
END TRY  
BEGIN CATCH  

INSERT INTO [HS_HR_IA_ERROR_LOGS]
			   ([ERROR_LINE]
			   ,[ERROR_MESSAGE]
			   ,[ERROR_NUMBER]
			   ,[ERROR_PROCEDURE]
			   ,[ERROR_SEVERITY]
			   ,[ERROR_STATE]
			   ,[ERROR_DATE])
	SELECT  
	ERROR_LINE () as ErrorLine,  
	Error_Message() as ErrorMessage,  
	Error_Number() as ErrorNumber,  
	Error_Procedure() as 'Proc',  
	Error_Severity() as ErrorSeverity,  
	Error_State() as ErrorState,  
	GETDATE () as DateErrorRaised 

	SELECT  
		'False' as status  
       ,ERROR_MESSAGE() AS message;  
END CATCH  
END