CREATE PROCEDURE [QADBV9_L2].[SP_IA_GET_CLIENT_CONNCTN_META]
@domain varchar(100)
AS
BEGIN

SELECT CLISYSCON_SVR_LIVE AS 'ServerName',
CLISYSCON_DB_NAME_LIVE AS 'Database',
CLISYSCON_DB_USRID_LIVE As 'UserName',
CLISYSCON_DB_PWD_LIVE As 'Password',
CLISYSCON_DEFTB_SPACE As 'Schema' FROM HS_CLIENT_SYSTEM_CONFIG
WHERE (CLISYSCON_SUBDOMAIN_EHRM = @domain OR CLISYSCON_SUBDOMAIN_SSHR = @domain) AND (CLISYSCON_ISACTIVE = 1);

END
GO