CREATE TABLE [QADBV9_L2].[HS_HR_IA_CNFG_CNTRL_INFO](
	[RECORD_ID] [int] IDENTITY(1,1) NOT NULL,
	[APPROVAL_STATUS] [varchar](50) NULL,
	[APPROVAL_BY] [nvarchar](20) NULL,
	[APPROVAL_COMMENT] [varchar](500) NULL,
	[APPROVAL_SIGNATURE] [varchar](200) NULL,
	[APPROVAL_DATE] [datetime] NULL,
	[SIGNOFF_DATA] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO