<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<security>
				<requestFiltering removeServerHeader="true" />
			</security>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<!-- <staticContent> -->
			<!-- <mimeMap fileExtension=".json" mimeType="application/json" /> -->
			<!-- </staticContent> -->
			<aspNetCore processPath="dotnet" arguments=".\HBS.ImplementationAutomationConsole.API.dll .\bin\Debug\net6.0\HBS.ImplementationAutomationConsole.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\IIS\stdout" hostingModel="inprocess" />
			<httpProtocol>
				<customHeaders>
					<add name="Content-Security-Policy" value="script-src 'self' 'unsafe-inline' ; frame-ancestors 'none';" />
					<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
					<add name="X-Content-Type-Options" value="nosniff" />
					<remove name="X-Powered-By" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: f873aca6-1c59-47c7-98ab-d2c30bea06e7-->