ALTER TABLE HS_HR_IA_USERS ADD HAS_USER_LOGGED_IN_BEFORE bit;

CREATE OR ALTER PROCEDURE [SP_IA_CHK_USER_LOG_IN_BEFORE]
@USER_ID varchar(20)
AS
BEGIN

SELECT HAS_USER_LOGGED_IN_BEFORE from [HS_HR_IA_USERS] U where U.[USER_ID] = @USER_ID

END
GO

CREATE OR ALTER PROCEDURE [SP_IA_UPDT_USER_LOG_IN_BEFORE]
@USER_ID varchar(20)
AS
BEGIN

UPDATE [HS_HR_IA_USERS]
SET HAS_USER_LOGGED_IN_BEFORE = 1
WHERE USER_ID = @USER_ID AND (HAS_USER_LOGGED_IN_BEFORE <> 1 OR HAS_USER_LOGGED_IN_BEFORE IS NULL);

END
GO
