ALTER PROCEDURE [SP_SHORT_LEAVE_UPLOAD]
AS 
BEGIN

DECLARE @SHORTLEAVETYPECODE AS VARCHAR(100)
DECLARE @LEAVETYPENAME AS VARCHAR(100)
DECLARE @MINHOURSALLOWED AS FLOAT
DECLARE @MAXHOURSALLOWED AS FLOAT
DECLARE @MAXOCCURRENCE AS FLOAT
DECLARE @MAXCONSECUTIVEHOURSALLOWED AS CHAR(18)
DECLARE @MAXNOOFLEAVEPERDAY AS INT
DECLARE @LEAVETIMEPERIOD AS FLOAT
DECLARE @MAXOURSPERMONTH AS NUMERIC(5,2)
DECLARE @MAXHOURSPERYEAR AS NUMERIC(5,2)

DECLARE @TBT_ISCONSEC_ALL AS INT

DECLARE @TBT_PREDEFINED_ONE AS NUMERIC(5,2)
DECLARE @TBT_PREDEFINED_TWO AS NUMERIC(5,2)
 


DECLARE @CursorAttribute CURSOR SET @CursorAttribute = CURSOR FAST_FORWARD
FOR

SELECT TBT_CODE,LEAVE_TYPE_NAME,MIN_HOURS_ALLOWED,MAX_HOURS_ALLOWED,MAX_OCCURRENCE,MAX_CONSECUTIVE_HOURS_ALLOWED,MAX_NO_OF_LEAVE_PER_DAY,LEAVE_TIME_PERIOD,ISNULL(MAX_HOURS_PER_MONTH, 0) ,ISNULL(MAX_HOURS_PER_YEAR,0),TBT_ISCONSEC_ALL,DURATION_BEGIN_SHIFT,DURATION_END_SHIFT
FROM HS_HR_IA_SHORT_LEAVE_UPLOAD

OPEN @CursorAttribute
FETCH NEXT
FROM @CursorAttribute
INTO @SHORTLEAVETYPECODE
	,@LEAVETYPENAME
	,@MINHOURSALLOWED
	,@MAXHOURSALLOWED
	,@MAXOCCURRENCE 
	,@MAXCONSECUTIVEHOURSALLOWED 
	,@MAXNOOFLEAVEPERDAY 
	,@LEAVETIMEPERIOD 
	,@MAXOURSPERMONTH 
	,@MAXHOURSPERYEAR 
	
	
	,@TBT_ISCONSEC_ALL

	,@TBT_PREDEFINED_ONE
	,@TBT_PREDEFINED_TWO

	
WHILE @@FETCH_STATUS = 0
BEGIN
BEGIN TRY  
If Not Exists(select * from HS_HR_LTIMEBASE_TYPE where TBT_CODE = @SHORTLEAVETYPECODE)
Begin
INSERT INTO HS_HR_LTIMEBASE_TYPE 
	(
	TBT_CODE,
	TBT_NAME,
	TBT_MINHOURS,
	TBT_MAXHOURS,
	TBT_MAXOCCURRENCE,

	TBT_ISCONSEC, -- check box
	TBT_MAXCONSECHOURS,
	TBT_ISCONSEC_ALL,

	TBT_ISMAXOCCURPERDAY, --check box
	TBT_MAXOCCURPERDAY,

	TBT_ISPERIOD, -- check box

	TBT_ISPREDEFINEDTIMES , --check box
	TBT_PREDEFINED_ONE,
	TBT_PREDEFINED_TWO,

	TBT_ISMONTHWISE, -- radio
	TBT_ISMONTHWISEHOURS, -- checkbox
	TBT_MONTHWISEHOURS, 

	TBT_ISYEARLY, --radio
	TBT_ISYEARLYHOURS, --check box
	TBT_YEARLYHOURS

	)
VALUES
	(
	@SHORTLEAVETYPECODE, 
	@LEAVETYPENAME,
	@MINHOURSALLOWED,
	@MAXHOURSALLOWED,
	@MAXOCCURRENCE,

	(CASE WHEN TRY_CAST(LTRIM(RTRIM(@MAXCONSECUTIVEHOURSALLOWED)) AS FLOAT) > 0 THEN 1 ELSE 0 END), --@TBT_ISCONSEC,
	@MAXCONSECUTIVEHOURSALLOWED,
	@TBT_ISCONSEC_ALL,

	(CASE WHEN @MAXNOOFLEAVEPERDAY > 0 THEN 1 ELSE 0 END),
	@MAXNOOFLEAVEPERDAY,

	@LEAVETIMEPERIOD,	

  	(CASE WHEN (@TBT_PREDEFINED_ONE > 0 OR @TBT_PREDEFINED_TWO > 0) THEN 1 ELSE 0 END), --@TBT_ISPREDEFINEDTIMES ,
	@TBT_PREDEFINED_ONE,
	@TBT_PREDEFINED_TWO,

	(CASE WHEN @MAXOURSPERMONTH > 0 THEN 1 ELSE 0 END),
	(CASE WHEN @MAXOURSPERMONTH > 0 THEN 1 ELSE 0 END),
	@MAXOURSPERMONTH,

	(CASE WHEN @MAXHOURSPERYEAR > 0 THEN 1 ELSE 0 END),
	(CASE WHEN @MAXHOURSPERYEAR > 0 THEN 1 ELSE 0 END),
	@MAXHOURSPERYEAR

	)
END
	
    select 'True' as status , 'Successfully added' as message
END TRY  
BEGIN CATCH  

INSERT INTO [HS_HR_IA_ERROR_LOGS]
			   ([ERROR_LINE]
			   ,[ERROR_MESSAGE]
			   ,[ERROR_NUMBER]
			   ,[ERROR_PROCEDURE]
			   ,[ERROR_SEVERITY]
			   ,[ERROR_STATE]
			   ,[ERROR_DATE])
	SELECT  
	ERROR_LINE () as ErrorLine,  
	Error_Message() as ErrorMessage,  
	Error_Number() as ErrorNumber,  
	Error_Procedure() as 'Proc',  
	Error_Severity() as ErrorSeverity,  
	Error_State() as ErrorState,  
	GETDATE () as DateErrorRaised 

    select 'False' as status , ERROR_MESSAGE() as message
END CATCH  

FETCH NEXT
	FROM @CursorAttribute
	INTO  @SHORTLEAVETYPECODE
	,@LEAVETYPENAME
	,@MINHOURSALLOWED
	,@MAXHOURSALLOWED
	,@MAXOCCURRENCE 
	,@MAXCONSECUTIVEHOURSALLOWED 
	,@MAXNOOFLEAVEPERDAY 
	,@LEAVETIMEPERIOD 
	,@MAXOURSPERMONTH 
	,@MAXHOURSPERYEAR 
	,@TBT_ISCONSEC_ALL

	,@TBT_PREDEFINED_ONE
	,@TBT_PREDEFINED_TWO

END
CLOSE @CursorAttribute

DEALLOCATE @CursorAttribute

MERGE INTO [HS_HR_LTIMEBASE_PERIOD] AS Target
USING [HS_HR_IA_LTIMEBASE_PERIOD_UPLD] AS Source
ON (Target.TBP_CODE = Source.TBP_CODE AND Target.TBT_CODE = Source.TBT_CODE)
WHEN MATCHED THEN
    UPDATE SET
        Target.TBP_PERIOD = Source.TBP_PERIOD
WHEN NOT MATCHED BY TARGET THEN
    INSERT (TBP_CODE, TBT_CODE, TBP_PERIOD)
    VALUES (Source.TBP_CODE, Source.TBT_CODE, Source.TBP_PERIOD);
END
GO