ALTER   PROCEDURE [QADBV9_L2].[SP_IA_CHK_DUP_SHRT_LEA_TYPE]
@LEAVE_TYPE NVARCHAR(6),
@USER_ID NVARCHAR(20)
AS
BEGIN
SELECT TBT_CODE, USER_ID into #temp1 FROM HS_HR_IA_SHORT_LEAVE_UPLOAD a LEFT JOIN HS_HR_IA_SHRT_LEA_DRFT_INFO b on a.ID=b.TABLE_RECORD_ID WHERE b.USER_ID=@USER_ID ORDER BY b.DATE_TIME DESC OFFSET 1 Rows
SELECT 1 FROM #temp1 WHERE TBT_CODE = @LEAVE_TYPE
DROP TABLE #temp1
END
