ALTER PROCEDURE [SP_IA_GET_DSHBRD_VNDR_HISTORY]
@SUBSECTION_NAME NVARCHAR(200),
@PAGE_INDEX INT,
@PAGE_SIZE INT,
@SEARCH_TEXT NVARCHAR(MAX),
@ORDER_BY NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;      
    DECLARE @SQL NVARCHAR(MAX);      
    DECLARE @FINAL_QUERY NVARCHAR(MAX);         
    DECLARE @WHERE_CLS NVARCHAR(MAX);  
    DECLARE @ORDER_CLS NVARCHAR(MAX);
	DECLARE @MODIFIED_ORDER_BY NVARCHAR(50);
    DECLARE @S NVARCHAR(MAX);       
    SET @FINAL_QUERY = N'';         
    SET @WHERE_CLS = N'';

	IF(@SEARCH_TEXT <> '')      
    BEGIN       
        SET @WHERE_CLS = @WHERE_CLS + N'AND (VENDOR_APPROVAL_DATE LIKE ''%' + @SEARCH_TEXT  + N'%'' OR VENDOR_APPROVAL_STATUS LIKE ''%' +@SEARCH_TEXT+N'%'' OR VENDOR_APPROVAL_BY LIKE ''%' + @SEARCH_TEXT + N'%'' OR VENDOR_APPROVAL_COMMENT LIKE ''%' + @SEARCH_TEXT + N'%'')';      
    END

	IF(@ORDER_BY <> '')      
    BEGIN
        SET @ORDER_CLS =  N'ORDER BY ' + @ORDER_BY
	END

	SET @FINAL_QUERY=N'
	DECLARE @TOTAL_COUNT INT;      
    DECLARE @RECORD_COUNT INT;
	SELECT b.MODULE_ID, c.SUBSECTION_ID, SUBSECTION_NAME, VENDOR_APPROVAL_STATUS, VENDOR_APPROVAL_BY, VENDOR_APPROVAL_DATE,VENDOR_APPROVAL_COMMENT,b.APPROVAL_DATA INTO #temp1 FROM HS_HR_IA_VENDOR_APPROVAL_INFO a LEFT JOIN HS_HR_IA_DASHBOARD_INFO b ON a.USER_RECORD_ID=b.RECORD_ID LEFT JOIN HS_HR_IA_SUBSECTIONS c ON b.SUBSECTION_ID=c.SUBSECTION_ID;

	SELECT * INTO #temp2
	FROM (
	 SELECT *
     , ROW_NUMBER() OVER (PARTITION BY SUBSECTION_NAME ORDER BY VENDOR_APPROVAL_DATE DESC) as rn
		FROM #temp1) t WHERE t.SUBSECTION_NAME='''+@SUBSECTION_NAME+''' ORDER BY t.VENDOR_APPROVAL_DATE DESC;

	SELECT * INTO #temp3
	FROM #temp2 WHERE 1=1 '+@WHERE_CLS+';

   	SELECT VENDOR_APPROVAL_DATE, VENDOR_APPROVAL_STATUS, VENDOR_APPROVAL_BY,VENDOR_APPROVAL_COMMENT,APPROVAL_DATA into #temp4
    FROM (
        SELECT *,
            ROW_NUMBER() OVER ( ' +@ORDER_CLS+ ' ) RecordID
        FROM #temp3 as A)
		as PagedData
   WHERE RecordID BETWEEN (('+convert(nvarchar,@PAGE_INDEX)+' - 1) * '+convert(nvarchar,@PAGE_SIZE)+'  + 1)          
   AND ('  +convert(nvarchar,@PAGE_INDEX)+' * '+convert(nvarchar,@PAGE_SIZE)+');
   
	SELECT @TOTAL_COUNT=COUNT(*) FROM #temp2;

	SELECT @RECORD_COUNT=COUNT(*) FROM #temp3;

	SELECT *, @TOTAL_COUNT,@RECORD_COUNT from #temp4;
	
	DROP TABLE #temp1;
	DROP TABLE #temp2;
	DROP TABLE #temp3;
	DROP TABLE #temp4;';

	EXEC(@FINAL_QUERY);
END
