
ALTER   PROCEDURE [SP_IA_GET_CMN_CNFG_HISTORY]
@USER_ID NVARCHAR(200),
@PAGE_INDEX INT,
@PAGE_SIZE INT,
@SEARCH_TEXT NVARCHAR(MAX),
@ORDER_BY NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;      
    DECLARE @SQL NVARCHAR(MAX);      
    DECLARE @FINAL_QUERY NVARCHAR(MAX);         
    DECLARE @WHERE_CLS NVARCHAR(MAX);  
    DECLARE @ORDER_CLS NVARCHAR(MAX);
	DECLARE @MODIFIED_ORDER_BY NVARCHAR(50);
    DECLARE @S NVARCHAR(MAX);       
    SET @FINAL_QUERY = N'';         
    SET @WHERE_CLS = N'';

	IF(@SEARCH_TEXT <> '')      
    BEGIN       
        SET @WHERE_CLS = @WHERE_CLS + N'AND (APPROVAL_DATE LIKE ''%' + @SEARCH_TEXT  + N'%'' OR APPROVAL_STATUS LIKE ''%' +@SEARCH_TEXT+N'%'' OR APPROVAL_BY LIKE ''%' + @SEARCH_TEXT + N'%'' OR APPROVAL_COMMENT LIKE ''%' + @SEARCH_TEXT + N'%'')';      
    END

	IF(@ORDER_BY <> '')      
    BEGIN
        SET @ORDER_CLS =  N'ORDER BY ' + @ORDER_BY
	END

	SET @FINAL_QUERY=N'
	DECLARE @TOTAL_COUNT INT;      
    DECLARE @RECORD_COUNT INT;
	SELECT a.RECORD_ID, APPROVAL_DATE, APPROVAL_STATUS, APPROVAL_BY, APPROVAL_COMMENT,SIGNOFF_DATA, a.TABLE_ROW_ID, USER_ID into #temp1 FROM HS_HR_IA_CMN_CNFG_INFO a LEFT JOIN HS_HR_IA_COMMN_CONFG_DRFT_INFO b ON a.TABLE_ROW_ID = b.TABLE_RECORD_ID;
	
	SELECT * INTO #temp2
	FROM (
	 SELECT *
     , ROW_NUMBER() OVER (PARTITION BY USER_ID ORDER BY APPROVAL_DATE DESC) as rn
		FROM #temp1) t WHERE t.USER_ID='''+@USER_ID+''' ORDER BY t.APPROVAL_DATE DESC;

	SELECT * INTO #temp3
	FROM #temp2 WHERE 1=1 '+@WHERE_CLS+';

   	SELECT RECORD_ID, APPROVAL_DATE, APPROVAL_STATUS, APPROVAL_BY, APPROVAL_COMMENT,SIGNOFF_DATA, TABLE_ROW_ID into #temp4
    FROM (
        SELECT *,
            ROW_NUMBER() OVER ( ' +@ORDER_CLS+ ' ) RecordID
        FROM #temp3 as A)
		as PagedData
   WHERE RecordID BETWEEN (('+convert(nvarchar,@PAGE_INDEX)+' - 1) * '+convert(nvarchar,@PAGE_SIZE)+'  + 1)          
   AND ('  +convert(nvarchar,@PAGE_INDEX)+' * '+convert(nvarchar,@PAGE_SIZE)+');
   
	SELECT @TOTAL_COUNT=COUNT(*) FROM #temp2;

	SELECT @RECORD_COUNT=COUNT(*) FROM #temp3;

	SELECT *, @TOTAL_COUNT,@RECORD_COUNT from #temp4;
	
	DROP TABLE #temp1;
	DROP TABLE #temp2;
	DROP TABLE #temp3;
	DROP TABLE #temp4;';

	EXEC(@FINAL_QUERY);
END
