DROP TABLE [QADBV9_L2].[HS_HR_IA_EMPLOYEE_UPLOAD]

CREATE TABLE [QADBV9_L2].[HS_HR_IA_EMPLOYEE_UPLOAD](
	[ID] [int] IDENTITY PRIMARY KEY NOT NULL,
	[EMP_NUMBER] [varchar](8) NULL,
	[EMP_TITLE] [varchar](10) NULL,
	[EMP_CALLING_NAME] [varchar](50) NULL,
	[EMP_SURNAME] [varchar](50) NULL,
	[EMP_MIDDLE_INI] [varchar](50) NULL,
	[EMP_NAMES_BY_INI] [varchar](190) NULL,
	[EMP_FULLNAME] [varchar](200) NULL,
	[EMP_NIC_NO] [varchar](12) NULL,
	[EMP_BIRTHDAY] [date] NULL,
	[EMP_GENDER] [varchar](20) NULL,
	[EMP_MAIDEN_NAME] [varchar](70) NULL,
	[EMP_OTHER_NAMES] [varchar](200) NULL,
	[EMP_EPF_NUMBER] [varchar](25) NULL,
	[EMP_NIC_DATE] [date] NULL,
	[EMP_BIRTHPLACE] [varchar](100) NULL,
	[NATIONALITY] [varchar](120) NULL,
	[RELIGION] [varchar](120) NULL,
	[EMP_BLOOD_GROUP] [varchar](120) NULL,
	[EMP_MARITAL_STATUS] [varchar](20) NULL,
	[EMP_MARRIED_DATE] [date] NULL,
	[EMP_DIVOCE_DATE] [date] NULL,
	[SAL_GRD] [varchar](60) NULL,
	[CORPORATE_TITLE] [varchar](120) NULL,
	[DESIGNATION] [varchar](120) NULL,
	[COST_CENTRE] [varchar](120) NULL,
	[EMP_DATE_JOINED] [date] NULL,
	[EMP_DATE_JOINED_TO_GROUP] [date] NULL,
	[EMP_TYPE] [varchar](120) NULL,
	[STAFFCAT_CLASS] [varchar](120) NULL,
	[EMP_BARCODENO] [varchar](15) NULL,
	[EMP_PAYROLLNO] [varchar](15) NULL,
	[EMP_ACTIVE_HRM_FLG] [smallint] NULL,
	[EMP_ACTIVE_PAYROLL_FLG] [smallint] NULL,
	[EMP_ACTIVE_ATT_FLG] [smallint] NULL,
	[EMP_CONFIRM_FLG] [smallint] NULL,
	[EMP_CONFIRM_DATE] [date] NULL,
	[EMP_DATE_FOR_CONFIRM] [date] NULL,
	[EMP_RESIGN_DATE] [date] NULL,
	[EMP_RETIRE_DATE] [date] NULL,
	[EMP_WORKHOURS] [decimal](9, 0) NULL,
	[LOCATION] [varchar](100) NULL,
	[SUB_LOCATION] [varchar](100) NULL,
	[EMP_CONTRACT_START_DATE] [date] NULL,
	[EMP_CONTRACT_END_DATE] [date] NULL,
	[EMP_CONT_TO_PERM_DATE] [date] NULL,
	[EMP_CATEGORY] [varchar](120) NULL,
	[RECR_COMPANY] [varchar](120) NULL,
	[EMP_GROUP] [varchar](120) NULL,
	[HIE_LEVEL_1] [varchar](70) NULL,
	[HIE_LEVEL_2] [varchar](70) NULL,
	[HIE_LEVEL_3] [varchar](70) NULL,
	[HIE_LEVEL_4] [varchar](70) NULL,
	[HIE_LEVEL_5] [varchar](70) NULL,
	[HIE_LEVEL_6] [varchar](70) NULL,
	[HIE_LEVEL_7] [varchar](70) NULL,
	[HIE_LEVEL_8] [varchar](70) NULL,
	[HIE_LEVEL_9] [varchar](70) NULL,
	[EMP_TAXONTAX_FLG] [smallint] NULL,
	[EMP_TAX_ID_NUMBER] [varchar](20) NULL,
	[EMP_EPF_ELIGIBLE_FLG] [smallint] NULL,
	[EMP_EPF_EMPLOYEE_AMOUNT] [decimal](9, 0) NULL,
	[EMP_EPF_EMPLOYER_AMOUNT] [decimal](9, 0) NULL,
	[EMP_ETF_ELIGIBLE_FLG] [smallint] NULL,
	[EMP_ETF_NUMBER] [varchar](20) NULL,
	[EMP_ETF_EMPLOYEE_AMOUNT] [decimal](9, 0) NULL,
	[EMP_ETF_DATE] [date] NULL,
	[EMP_MSPS_ELIGIBLE_FLG] [smallint] NULL,
	[EMP_MSPS_EMPLOYER_AMOUNT] [decimal](9, 0) NULL,
	[EMP_MSPS_EMPLOYEE_AMOUNT] [decimal](9, 0) NULL,
	[EMP_PER_ADDRESS1] [varchar](50) NULL,
	[EMP_PER_ADDRESS2] [varchar](50) NULL,
	[EMP_PER_ADDRESS3] [varchar](50) NULL,
	[EMP_PER_CITY] [varchar](30) NULL,
	[EMP_PER_TELEPHONE] [varchar](20) NULL,
	[EMP_PER_MOBILE] [varchar](20) NULL,
	[EMP_PER_FAX] [varchar](20) NULL,
	[EMP_PER_EMAIL] [varchar](100) NULL,
	[EMP_PER_COUNTRY] [varchar](120) NULL,
	[EMP_PER_PROVINCE] [varchar](120) NULL,
	[EMP_PER_DISTRICT] [varchar](120) NULL,
	[EMP_PER_ELECTORATE_CODE] [varchar](120) NULL,
	[EMP_TEM_ADDRESS1] [varchar](50) NULL,
	[EMP_TEM_ADDRESS2] [varchar](50) NULL,
	[EMP_TEM_ADDRESS3] [varchar](50) NULL,
	[EMP_TEM_CITY] [varchar](30) NULL,
	[EMP_TEM_POSTALCODE] [varchar](20) NULL,
	[EMP_TEM_TELEPHONE] [varchar](20) NULL,
	[EMP_TEM_MOBILE] [varchar](20) NULL,
	[EMP_TEM_FAX] [varchar](20) NULL,
	[EMP_TEM_EMAIL] [varchar](100) NULL,
	[EMP_TEM_COUNTRY] [varchar](120) NULL,
	[EMP_TEM_PROVINCE] [varchar](120) NULL,
	[EMP_TEM_DISTRICT] [varchar](120) NULL,
	[EMP_TEM_ELECTORATE] [varchar](120) NULL,
	[EMP_OFFICE_EMAIL] [varchar](100) NULL,
	[EMP_OFFICE_EXTN] [varchar](10) NULL,
	[EMP_OFFICE_PHONE] [varchar](20) NULL
) ON [PRIMARY]
GO

DROP TABLE [QADBV9_L2].[HS_HR_IA_BANK_UPLOAD]

CREATE TABLE [QADBV9_L2].[HS_HR_IA_BANK_UPLOAD](
	[ID] [int] IDENTITY PRIMARY KEY NOT NULL,
	[EMP_NUMBER] [varchar](8) NULL,
	[BANK_CODE] [varchar](8) NULL,
	[BANK_NAME] [varchar](100) NULL,
	[BRANCH_CODE] [varchar](6) NULL,
	[BRANCH_NAME] [varchar](120) NULL,
	[EBANK_ACC_NO] [varchar](30) NULL,
	[ACCTYPE_ID] [varchar](30) NULL,
	[CURRENCY_SYMBOL] [varchar](50) NULL
) ON [PRIMARY]
GO

DROP TABLE [QADBV9_L2].[HS_HR_IA_RH_UPLOAD]

CREATE TABLE [QADBV9_L2].[HS_HR_IA_RH_UPLOAD](
	[ID] [int] IDENTITY PRIMARY KEY NOT NULL,
	[EMP_NUMBER] [varchar](8) NULL,
	[DIRECT_SUPERVISOR_NUMBER] [varchar](8) NULL,
	[COMPANY] [varchar](70) NULL,
	[INDIRECT_SUPERVISOR_NUMBER] [varchar](8) NULL
) ON [PRIMARY]
GO

DROP TABLE [QADBV9_L2].[HS_HR_IA_DEPINFO_UPLOAD]

CREATE TABLE [QADBV9_L2].[HS_HR_IA_DEPINFO_UPLOAD](
	[ID] [int] IDENTITY PRIMARY KEY NOT NULL,
	[EMP_NUMBER] [varchar](8) NULL,
	[EREL_RELATIONFULLNAME] [varchar](100) NULL,
	[EREL_RELATIONSHIP] [varchar](20) NULL,
	[EREL_GENDER] [varchar](20) NULL,
	[EREL_BIRTHDAY] [date] NULL,
	[EREL_TELEPHONE] [varchar](20) NULL,
	[EREL_ENTMEDICALBENIFIT_FLG] [smallint] NULL,
	[EREL_WORK_SAME_COMP_FLG] [smallint] NULL,
	[EREL_EDU_CENTRE] [varchar](100) NULL,
	[EREL_HOUSE_ADDRESS] [varchar](200) NULL,
	[EREL_OFFICE_ADDRESS] [varchar](200) NULL,
	[EREL_PF_RATIO] [decimal](5, 2) NULL,
	[EREL_PF_NOMINEE_FLG] [smallint] NULL,
	[EREL_ENTDEATHDONATION_FLG] [smallint] NULL,
	[EREL_LIVINGORNOT_FLG] [smallint] NULL,
	[EREL_NIC_NUMBER] [varchar](20) NULL,
	[EREL_SPOUSE_TELEPHONE] [varchar](20) NULL,
	[EREL_COMMENTS] [varchar](200) NULL,
	[EREL_IS_MARRIED] [smallint] NULL,
	[EREL_IS_WORKING] [smallint] NULL,
	[EREL_EMP_NUMBER] [varchar](8) NULL
) ON [PRIMARY]
GO

DROP TABLE [QADBV9_L2].[HS_HR_IA_EC_UPLOAD]

CREATE TABLE [QADBV9_L2].[HS_HR_IA_EC_UPLOAD](
	[ID] [int] IDENTITY PRIMARY KEY NOT NULL,
	[EMP_NUMBER] [varchar](8) NULL,
	[EC_CONT_PER_FULLNAME] [varchar](100) NULL,
	[EC_RELATIONSHIP] [varchar](20) NULL,
	[EC_RELATIONSHIP_ORDER] [int] NULL,
	[EC_PER_ADDRESS] [varchar](200) NULL,
	[EC_OFFICE_TELEPHONE] [varchar](20) NULL,
	[EC_RES_TELEPHONE] [varchar](20) NULL,
	[EC_MOBILE] [varchar](20) NULL,
	[EC_CONTACT_TYPE_FLG] [smallint] NULL,
	[EC_OFFICIAL_ADDRESS] [varchar](200) NULL,
	[EC_EMP_NUMBER] [varchar](8) NULL,
	[EC_TEL_EXT] [varchar](20) NULL
) ON [PRIMARY]
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Internal Employee Contact' , @level0type=N'SCHEMA',@level0name=N'QADBV9_L2', @level1type=N'TABLE',@level1name=N'HS_HR_IA_EC_UPLOAD', @level2type=N'COLUMN',@level2name=N'EC_EMP_NUMBER'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Internal Telephone Extension' , @level0type=N'SCHEMA',@level0name=N'QADBV9_L2', @level1type=N'TABLE',@level1name=N'HS_HR_IA_EC_UPLOAD', @level2type=N'COLUMN',@level2name=N'EC_TEL_EXT'
GO


DROP TABLE [QADBV9_L2].[HS_HR_IA_SHORT_LEAVE_UPLOAD]

CREATE TABLE [QADBV9_L2].[HS_HR_IA_SHORT_LEAVE_UPLOAD](
	[ID] [int] IDENTITY PRIMARY KEY NOT NULL,
	[SHORT_LEAVE_TYPE_CODE] [varchar](6) NULL,
	[LEAVE_TYPE_NAME] [char](18) NULL,
	[MIN_HOURS_ALLOWED] [float] NULL,
	[MAX_HOURS_ALLOWED] [float] NULL,
	[MAX_OCCURRENCE] [float] NULL,
	[MAX_CONSECUTIVE_HOURS_ALLOWED] [char](18) NULL,
	[CONSIDER_ALL_LEAVE_TYPES] [int] NULL,
	[MAX_NO_OF_LEAVE_PER_DAY] [int] NULL,
	[LEAVE_TIME_PERIOD] [smallint] NULL,
	[DURATION_PER_SLOT_BEG_OF_SHIFT] [int] NULL,
	[DURATION_PER_SLOT_END_OF_SHIFT] [int] NULL,
	[MAX_HOURS_PER_MONTH] [numeric](18, 0) NULL,
	[MAX_HOURS_PER_YEAR] [numeric](18, 0) NULL,
	[APPLICABLE_FOR_WEEKLY] [int] NULL,
	[LEAVE_NEED_APPROVAL] [numeric](18, 0) NULL,
	[ENTITLEMENT_CONFIRMED_EMP] [int] NULL,
	[ENTITLEMENT_UN_CONFIRMED_EMP] [int] NULL,
	[COMMENTS] [varchar](200) NULL
) ON [PRIMARY]
GO

DROP TABLE [QADBV9_L2].[HS_HR_IA_STATUTORY_LEAVE_UPLOAD]

CREATE TABLE [QADBV9_L2].[HS_HR_IA_STATUTORY_LEAVE_UPLOAD](
	[ID] [int] IDENTITY PRIMARY KEY NOT NULL,
	[LEAVE_TYPE] [varchar](6) NULL,
	[LEAVE_DESCRIPTION] [varchar](100) NULL,
	[ACTIVE] [int] NULL,
	[COVERING_EMP_REQ] [int] NULL,
	[ALLOW_HALF_DAYS] [int] NULL,
	[AUTO_CAL_END_DATE] [int] NULL,
	[HOLIDAY_AS_LEAVE] [int] NULL,
	[LIEU_LEAVE] [int] NULL,
	[MATERNITY_LEAVE] [int] NULL,
	[NO_PAY_LEAVE] [int] NULL,
	[QUARTER_LEAVE] [int] NULL,
	[SHOW_BALANCE] [int] NULL,
	[EARNED_CF_BREAK_DOWN] [int] NULL,
	[EXTENDED_PERIOD] [int] NULL,
	[ALLOW_PLANNING] [int] NULL,
	[ATTACHMENT_REQUIRED] [int] NULL,
	[VIEW_ADDITIONAL_FIELD] [int] NULL,
	[ALLOW_NEGATIVE] [int] NULL,
	[KIOSK_ALLOWED] [int] NULL,
	[HIDE_ZERO_ENTITLEMENT] [int] NULL,
	[ALLOW_SELECT_APPROVER] [int] NULL,
	[SHOW_LEAVE_REASON] [int] NULL,
	[CONSIDER_IN_DASHBOARD] [int] NULL,
	[SHOW_IN_OFFBOARDING] [int] NULL,
	[CONSIDER_FOR_TIME_LOST] [int] NULL,
	[COMMENT_MANDATORY] [int] NULL,
	[LONG_LEAVE] [int] NULL,
	[HIDE_IN_SELF_APP] [int] NULL,
	[APPLY_SEQUENCE_IN_DASH] [int] NULL,
	[MAXIMUM_LEAVE_DAYS_IN_SINGLE_INS] [int] NULL,
	[YEARLY_ENTITLEMENT] [int] NULL,
	[MINIMUM_DAYS_IN_SINGLE_LEAVE_APP] [int] NULL,
	[MAXIMUM_DAYS_IN_SINGLE_LEAVE_APP] [int] NULL,
	[REQ_MEDICAL_CER_AFTER_NO_OF_ABSENCE_DAYS] [int] NULL,
	[APPLY_TOGETHER_WITH_THIS_LEAVE_TYPE] [varchar](250) NULL,
	[FUTURE_LEAVE_UTILIZED_AS] [varchar](250) NULL,
	[UTILIZATION_PERIOD] [int] NULL,
	[FUTURE_LEAVE_TYPE] [smallint] NULL,
	[MAX_ALLOWED_FORWARD_AS_FUTURE_LEAVE] [int] NULL,
	[MAX_LIMIT] [int] NULL,
	[NOTICE_PERIOD] [int] NULL,
	[TIME_BASE_LEAVE] [int] NULL,
	[LEAVE_APPROVAL] [smallint] NULL,
	[LEAVE_REJECTION] [varchar](250) NULL,
	[LEAVE_CANCELLATION] [varchar](250) NULL,
	[ENTITLEMENT_CRITERIA] [varchar](250) NULL,
	[COMMENTS] [varchar](250) NULL
) ON [PRIMARY]
GO