CREATE Procedure [QADBV9_L2].[SP_IA_GET_VLDT_DATA_SHIFT]
AS
BEGIN
SET NOCOUNT ON;

select SHIFT_NAME,TEMPLATE_ID,ERROR_DETAILS,COL_NUMBER,COL_NAME,ROW_NUMBER,ERROR_ID from HS_HR_IA_ERRORS_SHIFT

END